In [7]:
pip install langchain langchain-google-genai langchain-community langchain-experimental

Requirement already satisfied: langchain in /opt/anaconda3/lib/python3.12/site-packages (0.3.26)
Requirement already satisfied: langchain-google-genai in /opt/anaconda3/lib/python3.12/site-packages (2.0.10)
Requirement already satisfied: langchain-community in /opt/anaconda3/lib/python3.12/site-packages (0.3.26)
Requirement already satisfied: langchain-experimental in /opt/anaconda3/lib/python3.12/site-packages (0.3.4)
Requirement already satisfied: langchain-core<1.0.0,>=0.3.66 in /opt/anaconda3/lib/python3.12/site-packages (from langchain) (0.3.66)
Requirement already satisfied: langchain-text-splitters<1.0.0,>=0.3.8 in /opt/anaconda3/lib/python3.12/site-packages (from langchain) (0.3.8)
Requirement already satisfied: langsmith>=0.1.17 in /opt/anaconda3/lib/python3.12/site-packages (from langchain) (0.4.1)
Requirement already satisfied: pydantic<3.0.0,>=2.7.4 in /opt/anaconda3/lib/python3.12/site-packages (from langchain) (2.10.3)
Requirement already satisfied: SQLAlchemy<3,>=1.4 in /opt/anaconda3/lib/python3.12/site-packages (from langchain) (2.0.41)
Requirement already satisfied: requests<3,>=2 in /opt/anaconda3/lib/python3.12/site-packages (from langchain) (2.32.2)
Requirement already satisfied: PyYAML>=5.3 in /opt/anaconda3/lib/python3.12/site-packages (from langchain) (6.0.1)
Requirement already satisfied: tenacity!=8.4.0,<10.0.0,>=8.1.0 in /opt/anaconda3/lib/python3.12/site-packages (from langchain-core<1.0.0,>=0.3.66->langchain) (8.5.0)
Requirement already satisfied: jsonpatch<2.0,>=1.33 in /opt/anaconda3/lib/python3.12/site-packages (from langchain-core<1.0.0,>=0.3.66->langchain) (1.33)
Requirement already satisfied: packaging<25,>=23.2 in /opt/anaconda3/lib/python3.12/site-packages (from langchain-core<1.0.0,>=0.3.66->langchain) (23.2)
Requirement already satisfied: typing-extensions>=4.7 in /opt/anaconda3/lib/python3.12/site-packages (from langchain-core<1.0.0,>=0.3.66->langchain) (4.12.2)
Requirement already satisfied: jsonpointer>=1.9 in /opt/anaconda3/lib/python3.12/site-packages (from jsonpatch<2.0,>=1.33->langchain-core<1.0.0,>=0.3.66->langchain) (2.1)
Requirement already satisfied: annotated-types>=0.6.0 in /opt/anaconda3/lib/python3.12/site-packages (from pydantic<3.0.0,>=2.7.4->langchain) (0.6.0)
Requirement already satisfied: pydantic-core==2.27.1 in /opt/anaconda3/lib/python3.12/site-packages (from pydantic<3.0.0,>=2.7.4->langchain) (2.27.1)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/anaconda3/lib/python3.12/site-packages (from requests<3,>=2->langchain) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /opt/anaconda3/lib/python3.12/site-packages (from requests<3,>=2->langchain) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/anaconda3/lib/python3.12/site-packages (from requests<3,>=2->langchain) (2.2.2)
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda3/lib/python3.12/site-packages (from requests<3,>=2->langchain) (2025.4.26)
Requirement already satisfied: filetype<2.0.0,>=1.2.0 in /opt/anaconda3/lib/python3.12/site-packages (from langchain-google-genai) (1.2.0)
Requirement already satisfied: google-generativeai<0.9.0,>=0.8.0 in /opt/anaconda3/lib/python3.12/site-packages (from langchain-google-genai) (0.8.5)
Requirement already satisfied: google-ai-generativelanguage==0.6.15 in /opt/anaconda3/lib/python3.12/site-packages (from google-generativeai<0.9.0,>=0.8.0->langchain-google-genai) (0.6.15)
Requirement already satisfied: google-api-core in /opt/anaconda3/lib/python3.12/site-packages (from google-generativeai<0.9.0,>=0.8.0->langchain-google-genai) (2.25.1)
Requirement already satisfied: google-api-python-client in /opt/anaconda3/lib/python3.12/site-packages (from google-generativeai<0.9.0,>=0.8.0->langchain-google-genai) (2.173.0)
Requirement already satisfied: google-auth>=2.15.0 in /opt/anaconda3/lib/python3.12/site-packages (from google-generativeai<0.9.0,>=0.8.0->langchain-google-genai) (2.40.3)
Requirement already satisfied: protobuf in /opt/anaconda3/lib/python3.12/site-packages (from google-generativeai<0.9.0,>=0.8.0->langchain-google-genai) (4.25.8)
Requirement already satisfied: tqdm in /opt/anaconda3/lib/python3.12/site-packages (from google-generativeai<0.9.0,>=0.8.0->langchain-google-genai) (4.66.4)
Requirement already satisfied: proto-plus<2.0.0dev,>=1.22.3 in /opt/anaconda3/lib/python3.12/site-packages (from google-ai-generativelanguage==0.6.15->google-generativeai<0.9.0,>=0.8.0->langchain-google-genai) (1.26.1)
Requirement already satisfied: googleapis-common-protos<2.0.0,>=1.56.2 in /opt/anaconda3/lib/python3.12/site-packages (from google-api-core->google-generativeai<0.9.0,>=0.8.0->langchain-google-genai) (1.70.0)
Requirement already satisfied: grpcio<2.0.0,>=1.33.2 in /opt/anaconda3/lib/python3.12/site-packages (from google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.10.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,!=2.8.*,!=2.9.*,<3.0.0dev,>=1.34.1->google-ai-generativelanguage==0.6.15->google-generativeai<0.9.0,>=0.8.0->langchain-google-genai) (1.73.0)
Requirement already satisfied: grpcio-status<2.0.0,>=1.33.2 in /opt/anaconda3/lib/python3.12/site-packages (from google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.10.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,!=2.8.*,!=2.9.*,<3.0.0dev,>=1.34.1->google-ai-generativelanguage==0.6.15->google-generativeai<0.9.0,>=0.8.0->langchain-google-genai) (1.62.3)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /opt/anaconda3/lib/python3.12/site-packages (from google-auth>=2.15.0->google-generativeai<0.9.0,>=0.8.0->langchain-google-genai) (5.3.3)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /opt/anaconda3/lib/python3.12/site-packages (from google-auth>=2.15.0->google-generativeai<0.9.0,>=0.8.0->langchain-google-genai) (0.2.8)
Requirement already satisfied: rsa<5,>=3.1.4 in /opt/anaconda3/lib/python3.12/site-packages (from google-auth>=2.15.0->google-generativeai<0.9.0,>=0.8.0->langchain-google-genai) (4.9.1)
Requirement already satisfied: pyasn1>=0.1.3 in /opt/anaconda3/lib/python3.12/site-packages (from rsa<5,>=3.1.4->google-auth>=2.15.0->google-generativeai<0.9.0,>=0.8.0->langchain-google-genai) (0.4.8)
Requirement already satisfied: aiohttp<4.0.0,>=3.8.3 in /opt/anaconda3/lib/python3.12/site-packages (from langchain-community) (3.9.5)
Requirement already satisfied: dataclasses-json<0.7,>=0.5.7 in /opt/anaconda3/lib/python3.12/site-packages (from langchain-community) (0.6.7)
Requirement already satisfied: pydantic-settings<3.0.0,>=2.4.0 in /opt/anaconda3/lib/python3.12/site-packages (from langchain-community) (2.6.1)
Requirement already satisfied: httpx-sse<1.0.0,>=0.4.0 in /opt/anaconda3/lib/python3.12/site-packages (from langchain-community) (0.4.0)
Requirement already satisfied: numpy>=1.26.2 in /opt/anaconda3/lib/python3.12/site-packages (from langchain-community) (1.26.4)
Requirement already satisfied: aiosignal>=1.1.2 in /opt/anaconda3/lib/python3.12/site-packages (from aiohttp<4.0.0,>=3.8.3->langchain-community) (1.2.0)
Requirement already satisfied: attrs>=17.3.0 in /opt/anaconda3/lib/python3.12/site-packages (from aiohttp<4.0.0,>=3.8.3->langchain-community) (23.1.0)
Requirement already satisfied: frozenlist>=1.1.1 in /opt/anaconda3/lib/python3.12/site-packages (from aiohttp<4.0.0,>=3.8.3->langchain-community) (1.4.0)
Requirement already satisfied: multidict<7.0,>=4.5 in /opt/anaconda3/lib/python3.12/site-packages (from aiohttp<4.0.0,>=3.8.3->langchain-community) (6.0.4)
Requirement already satisfied: yarl<2.0,>=1.0 in /opt/anaconda3/lib/python3.12/site-packages (from aiohttp<4.0.0,>=3.8.3->langchain-community) (1.9.3)
Requirement already satisfied: marshmallow<4.0.0,>=3.18.0 in /opt/anaconda3/lib/python3.12/site-packages (from dataclasses-json<0.7,>=0.5.7->langchain-community) (3.26.1)
Requirement already satisfied: typing-inspect<1,>=0.4.0 in /opt/anaconda3/lib/python3.12/site-packages (from dataclasses-json<0.7,>=0.5.7->langchain-community) (0.9.0)
Requirement already satisfied: python-dotenv>=0.21.0 in /opt/anaconda3/lib/python3.12/site-packages (from pydantic-settings<3.0.0,>=2.4.0->langchain-community) (0.21.0)
Requirement already satisfied: mypy-extensions>=0.3.0 in /opt/anaconda3/lib/python3.12/site-packages (from typing-inspect<1,>=0.4.0->dataclasses-json<0.7,>=0.5.7->langchain-community) (1.0.0)
Requirement already satisfied: httpx<1,>=0.23.0 in /opt/anaconda3/lib/python3.12/site-packages (from langsmith>=0.1.17->langchain) (0.28.1)
Requirement already satisfied: orjson<4.0.0,>=3.9.14 in /opt/anaconda3/lib/python3.12/site-packages (from langsmith>=0.1.17->langchain) (3.10.18)
Requirement already satisfied: requests-toolbelt<2.0.0,>=1.0.0 in /opt/anaconda3/lib/python3.12/site-packages (from langsmith>=0.1.17->langchain) (1.0.0)
Requirement already satisfied: zstandard<0.24.0,>=0.23.0 in /opt/anaconda3/lib/python3.12/site-packages (from langsmith>=0.1.17->langchain) (0.23.0)
Requirement already satisfied: anyio in /opt/anaconda3/lib/python3.12/site-packages (from httpx<1,>=0.23.0->langsmith>=0.1.17->langchain) (4.2.0)
Requirement already satisfied: httpcore==1.* in /opt/anaconda3/lib/python3.12/site-packages (from httpx<1,>=0.23.0->langsmith>=0.1.17->langchain) (1.0.2)
Requirement already satisfied: h11<0.15,>=0.13 in /opt/anaconda3/lib/python3.12/site-packages (from httpcore==1.*->httpx<1,>=0.23.0->langsmith>=0.1.17->langchain) (0.14.0)
Requirement already satisfied: sniffio>=1.1 in /opt/anaconda3/lib/python3.12/site-packages (from anyio->httpx<1,>=0.23.0->langsmith>=0.1.17->langchain) (1.3.0)
Requirement already satisfied: httplib2<1.0.0,>=0.19.0 in /opt/anaconda3/lib/python3.12/site-packages (from google-api-python-client->google-generativeai<0.9.0,>=0.8.0->langchain-google-genai) (0.22.0)
Requirement already satisfied: google-auth-httplib2<1.0.0,>=0.2.0 in /opt/anaconda3/lib/python3.12/site-packages (from google-api-python-client->google-generativeai<0.9.0,>=0.8.0->langchain-google-genai) (0.2.0)
Requirement already satisfied: uritemplate<5,>=3.0.1 in /opt/anaconda3/lib/python3.12/site-packages (from google-api-python-client->google-generativeai<0.9.0,>=0.8.0->langchain-google-genai) (4.2.0)
Requirement already satisfied: pyparsing!=3.0.0,!=3.0.1,!=3.0.2,!=3.0.3,<4,>=2.4.2 in /opt/anaconda3/lib/python3.12/site-packages (from httplib2<1.0.0,>=0.19.0->google-api-python-client->google-generativeai<0.9.0,>=0.8.0->langchain-google-genai) (3.0.9)
Note: you may need to restart the kernel to use updated packages.

In [9]:
pip install sentence-transformers chromadb psycopg2-binary sqlalchemy

Requirement already satisfied: sentence-transformers in /opt/anaconda3/lib/python3.12/site-packages (4.1.0)
Requirement already satisfied: chromadb in /opt/anaconda3/lib/python3.12/site-packages (1.0.13)
Requirement already satisfied: psycopg2-binary in /opt/anaconda3/lib/python3.12/site-packages (2.9.10)
Requirement already satisfied: sqlalchemy in /opt/anaconda3/lib/python3.12/site-packages (2.0.41)
Requirement already satisfied: transformers<5.0.0,>=4.41.0 in /opt/anaconda3/lib/python3.12/site-packages (from sentence-transformers) (4.52.4)
Requirement already satisfied: tqdm in /opt/anaconda3/lib/python3.12/site-packages (from sentence-transformers) (4.66.4)
Requirement already satisfied: torch>=1.11.0 in /opt/anaconda3/lib/python3.12/site-packages (from sentence-transformers) (2.7.1)
Requirement already satisfied: scikit-learn in /opt/anaconda3/lib/python3.12/site-packages (from sentence-transformers) (1.4.2)
Requirement already satisfied: scipy in /opt/anaconda3/lib/python3.12/site-packages (from sentence-transformers) (1.13.1)
Requirement already satisfied: huggingface-hub>=0.20.0 in /opt/anaconda3/lib/python3.12/site-packages (from sentence-transformers) (0.33.0)
Requirement already satisfied: Pillow in /opt/anaconda3/lib/python3.12/site-packages (from sentence-transformers) (10.3.0)
Requirement already satisfied: typing_extensions>=4.5.0 in /opt/anaconda3/lib/python3.12/site-packages (from sentence-transformers) (4.12.2)
Requirement already satisfied: filelock in /opt/anaconda3/lib/python3.12/site-packages (from transformers<5.0.0,>=4.41.0->sentence-transformers) (3.13.1)
Requirement already satisfied: numpy>=1.17 in /opt/anaconda3/lib/python3.12/site-packages (from transformers<5.0.0,>=4.41.0->sentence-transformers) (1.26.4)
Requirement already satisfied: packaging>=20.0 in /opt/anaconda3/lib/python3.12/site-packages (from transformers<5.0.0,>=4.41.0->sentence-transformers) (23.2)
Requirement already satisfied: pyyaml>=5.1 in /opt/anaconda3/lib/python3.12/site-packages (from transformers<5.0.0,>=4.41.0->sentence-transformers) (6.0.1)
Requirement already satisfied: regex!=2019.12.17 in /opt/anaconda3/lib/python3.12/site-packages (from transformers<5.0.0,>=4.41.0->sentence-transformers) (2023.10.3)
Requirement already satisfied: requests in /opt/anaconda3/lib/python3.12/site-packages (from transformers<5.0.0,>=4.41.0->sentence-transformers) (2.32.2)
Requirement already satisfied: tokenizers<0.22,>=0.21 in /opt/anaconda3/lib/python3.12/site-packages (from transformers<5.0.0,>=4.41.0->sentence-transformers) (0.21.1)
Requirement already satisfied: safetensors>=0.4.3 in /opt/anaconda3/lib/python3.12/site-packages (from transformers<5.0.0,>=4.41.0->sentence-transformers) (0.5.3)
Requirement already satisfied: fsspec>=2023.5.0 in /opt/anaconda3/lib/python3.12/site-packages (from huggingface-hub>=0.20.0->sentence-transformers) (2024.3.1)
Requirement already satisfied: hf-xet<2.0.0,>=1.1.2 in /opt/anaconda3/lib/python3.12/site-packages (from huggingface-hub>=0.20.0->sentence-transformers) (1.1.5)
Requirement already satisfied: build>=1.0.3 in /opt/anaconda3/lib/python3.12/site-packages (from chromadb) (1.2.2.post1)
Requirement already satisfied: pydantic>=1.9 in /opt/anaconda3/lib/python3.12/site-packages (from chromadb) (2.10.3)
Requirement already satisfied: pybase64>=1.4.1 in /opt/anaconda3/lib/python3.12/site-packages (from chromadb) (1.4.1)
Requirement already satisfied: uvicorn>=0.18.3 in /opt/anaconda3/lib/python3.12/site-packages (from uvicorn[standard]>=0.18.3->chromadb) (0.34.3)
Requirement already satisfied: posthog>=2.4.0 in /opt/anaconda3/lib/python3.12/site-packages (from chromadb) (5.4.0)
Requirement already satisfied: onnxruntime>=1.14.1 in /opt/anaconda3/lib/python3.12/site-packages (from chromadb) (1.22.0)
Requirement already satisfied: opentelemetry-api>=1.2.0 in /opt/anaconda3/lib/python3.12/site-packages (from chromadb) (1.27.0)
Requirement already satisfied: opentelemetry-exporter-otlp-proto-grpc>=1.2.0 in /opt/anaconda3/lib/python3.12/site-packages (from chromadb) (1.27.0)
Requirement already satisfied: opentelemetry-sdk>=1.2.0 in /opt/anaconda3/lib/python3.12/site-packages (from chromadb) (1.27.0)
Requirement already satisfied: pypika>=0.48.9 in /opt/anaconda3/lib/python3.12/site-packages (from chromadb) (0.48.9)
Requirement already satisfied: overrides>=7.3.1 in /opt/anaconda3/lib/python3.12/site-packages (from chromadb) (7.4.0)
Requirement already satisfied: importlib-resources in /opt/anaconda3/lib/python3.12/site-packages (from chromadb) (6.5.2)
Requirement already satisfied: grpcio>=1.58.0 in /opt/anaconda3/lib/python3.12/site-packages (from chromadb) (1.73.0)
Requirement already satisfied: bcrypt>=4.0.1 in /opt/anaconda3/lib/python3.12/site-packages (from chromadb) (4.3.0)
Requirement already satisfied: typer>=0.9.0 in /opt/anaconda3/lib/python3.12/site-packages (from chromadb) (0.9.0)
Requirement already satisfied: kubernetes>=28.1.0 in /opt/anaconda3/lib/python3.12/site-packages (from chromadb) (33.1.0)
Requirement already satisfied: tenacity>=8.2.3 in /opt/anaconda3/lib/python3.12/site-packages (from chromadb) (8.5.0)
Requirement already satisfied: mmh3>=4.0.1 in /opt/anaconda3/lib/python3.12/site-packages (from chromadb) (5.1.0)
Requirement already satisfied: orjson>=3.9.12 in /opt/anaconda3/lib/python3.12/site-packages (from chromadb) (3.10.18)
Requirement already satisfied: httpx>=0.27.0 in /opt/anaconda3/lib/python3.12/site-packages (from chromadb) (0.28.1)
Requirement already satisfied: rich>=10.11.0 in /opt/anaconda3/lib/python3.12/site-packages (from chromadb) (13.3.5)
Requirement already satisfied: jsonschema>=4.19.0 in /opt/anaconda3/lib/python3.12/site-packages (from chromadb) (4.19.2)
Requirement already satisfied: pyproject_hooks in /opt/anaconda3/lib/python3.12/site-packages (from build>=1.0.3->chromadb) (1.2.0)
Requirement already satisfied: anyio in /opt/anaconda3/lib/python3.12/site-packages (from httpx>=0.27.0->chromadb) (4.2.0)
Requirement already satisfied: certifi in /opt/anaconda3/lib/python3.12/site-packages (from httpx>=0.27.0->chromadb) (2025.4.26)
Requirement already satisfied: httpcore==1.* in /opt/anaconda3/lib/python3.12/site-packages (from httpx>=0.27.0->chromadb) (1.0.2)
Requirement already satisfied: idna in /opt/anaconda3/lib/python3.12/site-packages (from httpx>=0.27.0->chromadb) (3.7)
Requirement already satisfied: h11<0.15,>=0.13 in /opt/anaconda3/lib/python3.12/site-packages (from httpcore==1.*->httpx>=0.27.0->chromadb) (0.14.0)
Requirement already satisfied: attrs>=22.2.0 in /opt/anaconda3/lib/python3.12/site-packages (from jsonschema>=4.19.0->chromadb) (23.1.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in /opt/anaconda3/lib/python3.12/site-packages (from jsonschema>=4.19.0->chromadb) (2023.7.1)
Requirement already satisfied: referencing>=0.28.4 in /opt/anaconda3/lib/python3.12/site-packages (from jsonschema>=4.19.0->chromadb) (0.30.2)
Requirement already satisfied: rpds-py>=0.7.1 in /opt/anaconda3/lib/python3.12/site-packages (from jsonschema>=4.19.0->chromadb) (0.10.6)
Requirement already satisfied: six>=1.9.0 in /opt/anaconda3/lib/python3.12/site-packages (from kubernetes>=28.1.0->chromadb) (1.16.0)
Requirement already satisfied: python-dateutil>=2.5.3 in /opt/anaconda3/lib/python3.12/site-packages (from kubernetes>=28.1.0->chromadb) (2.9.0.post0)
Requirement already satisfied: google-auth>=1.0.1 in /opt/anaconda3/lib/python3.12/site-packages (from kubernetes>=28.1.0->chromadb) (2.40.3)
Requirement already satisfied: websocket-client!=0.40.0,!=0.41.*,!=0.42.*,>=0.32.0 in /opt/anaconda3/lib/python3.12/site-packages (from kubernetes>=28.1.0->chromadb) (1.8.0)
Requirement already satisfied: requests-oauthlib in /opt/anaconda3/lib/python3.12/site-packages (from kubernetes>=28.1.0->chromadb) (2.0.0)
Requirement already satisfied: oauthlib>=3.2.2 in /opt/anaconda3/lib/python3.12/site-packages (from kubernetes>=28.1.0->chromadb) (3.3.1)
Requirement already satisfied: urllib3>=1.24.2 in /opt/anaconda3/lib/python3.12/site-packages (from kubernetes>=28.1.0->chromadb) (2.2.2)
Requirement already satisfied: durationpy>=0.7 in /opt/anaconda3/lib/python3.12/site-packages (from kubernetes>=28.1.0->chromadb) (0.10)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /opt/anaconda3/lib/python3.12/site-packages (from google-auth>=1.0.1->kubernetes>=28.1.0->chromadb) (5.3.3)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /opt/anaconda3/lib/python3.12/site-packages (from google-auth>=1.0.1->kubernetes>=28.1.0->chromadb) (0.2.8)
Requirement already satisfied: rsa<5,>=3.1.4 in /opt/anaconda3/lib/python3.12/site-packages (from google-auth>=1.0.1->kubernetes>=28.1.0->chromadb) (4.9.1)
Requirement already satisfied: pyasn1>=0.1.3 in /opt/anaconda3/lib/python3.12/site-packages (from rsa<5,>=3.1.4->google-auth>=1.0.1->kubernetes>=28.1.0->chromadb) (0.4.8)
Requirement already satisfied: coloredlogs in /opt/anaconda3/lib/python3.12/site-packages (from onnxruntime>=1.14.1->chromadb) (15.0.1)
Requirement already satisfied: flatbuffers in /opt/anaconda3/lib/python3.12/site-packages (from onnxruntime>=1.14.1->chromadb) (25.2.10)
Requirement already satisfied: protobuf in /opt/anaconda3/lib/python3.12/site-packages (from onnxruntime>=1.14.1->chromadb) (4.25.8)
Requirement already satisfied: sympy in /opt/anaconda3/lib/python3.12/site-packages (from onnxruntime>=1.14.1->chromadb) (1.14.0)
Requirement already satisfied: deprecated>=1.2.6 in /opt/anaconda3/lib/python3.12/site-packages (from opentelemetry-api>=1.2.0->chromadb) (1.2.18)
Requirement already satisfied: importlib-metadata<=8.4.0,>=6.0 in /opt/anaconda3/lib/python3.12/site-packages (from opentelemetry-api>=1.2.0->chromadb) (7.0.1)
Requirement already satisfied: zipp>=0.5 in /opt/anaconda3/lib/python3.12/site-packages (from importlib-metadata<=8.4.0,>=6.0->opentelemetry-api>=1.2.0->chromadb) (3.17.0)
Requirement already satisfied: wrapt<2,>=1.10 in /opt/anaconda3/lib/python3.12/site-packages (from deprecated>=1.2.6->opentelemetry-api>=1.2.0->chromadb) (1.14.1)
Requirement already satisfied: googleapis-common-protos~=1.52 in /opt/anaconda3/lib/python3.12/site-packages (from opentelemetry-exporter-otlp-proto-grpc>=1.2.0->chromadb) (1.70.0)
Requirement already satisfied: opentelemetry-exporter-otlp-proto-common==1.27.0 in /opt/anaconda3/lib/python3.12/site-packages (from opentelemetry-exporter-otlp-proto-grpc>=1.2.0->chromadb) (1.27.0)
Requirement already satisfied: opentelemetry-proto==1.27.0 in /opt/anaconda3/lib/python3.12/site-packages (from opentelemetry-exporter-otlp-proto-grpc>=1.2.0->chromadb) (1.27.0)
Requirement already satisfied: opentelemetry-semantic-conventions==0.48b0 in /opt/anaconda3/lib/python3.12/site-packages (from opentelemetry-sdk>=1.2.0->chromadb) (0.48b0)
Requirement already satisfied: backoff>=1.10.0 in /opt/anaconda3/lib/python3.12/site-packages (from posthog>=2.4.0->chromadb) (2.2.1)
Requirement already satisfied: distro>=1.5.0 in /opt/anaconda3/lib/python3.12/site-packages (from posthog>=2.4.0->chromadb) (1.9.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/anaconda3/lib/python3.12/site-packages (from requests->transformers<5.0.0,>=4.41.0->sentence-transformers) (2.0.4)
Requirement already satisfied: annotated-types>=0.6.0 in /opt/anaconda3/lib/python3.12/site-packages (from pydantic>=1.9->chromadb) (0.6.0)
Requirement already satisfied: pydantic-core==2.27.1 in /opt/anaconda3/lib/python3.12/site-packages (from pydantic>=1.9->chromadb) (2.27.1)
Requirement already satisfied: markdown-it-py<3.0.0,>=2.2.0 in /opt/anaconda3/lib/python3.12/site-packages (from rich>=10.11.0->chromadb) (2.2.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in /opt/anaconda3/lib/python3.12/site-packages (from rich>=10.11.0->chromadb) (2.15.1)
Requirement already satisfied: mdurl~=0.1 in /opt/anaconda3/lib/python3.12/site-packages (from markdown-it-py<3.0.0,>=2.2.0->rich>=10.11.0->chromadb) (0.1.0)
Requirement already satisfied: setuptools in /opt/anaconda3/lib/python3.12/site-packages (from torch>=1.11.0->sentence-transformers) (69.5.1)
Requirement already satisfied: networkx in /opt/anaconda3/lib/python3.12/site-packages (from torch>=1.11.0->sentence-transformers) (3.2.1)
Requirement already satisfied: jinja2 in /opt/anaconda3/lib/python3.12/site-packages (from torch>=1.11.0->sentence-transformers) (3.1.4)
Requirement already satisfied: mpmath<1.4,>=1.1.0 in /opt/anaconda3/lib/python3.12/site-packages (from sympy->onnxruntime>=1.14.1->chromadb) (1.3.0)
Requirement already satisfied: click<9.0.0,>=7.1.1 in /opt/anaconda3/lib/python3.12/site-packages (from typer>=0.9.0->chromadb) (8.1.7)
Requirement already satisfied: httptools>=0.6.3 in /opt/anaconda3/lib/python3.12/site-packages (from uvicorn[standard]>=0.18.3->chromadb) (0.6.4)
Requirement already satisfied: python-dotenv>=0.13 in /opt/anaconda3/lib/python3.12/site-packages (from uvicorn[standard]>=0.18.3->chromadb) (0.21.0)
Requirement already satisfied: uvloop>=0.15.1 in /opt/anaconda3/lib/python3.12/site-packages (from uvicorn[standard]>=0.18.3->chromadb) (0.21.0)
Requirement already satisfied: watchfiles>=0.13 in /opt/anaconda3/lib/python3.12/site-packages (from uvicorn[standard]>=0.18.3->chromadb) (1.1.0)
Requirement already satisfied: websockets>=10.4 in /opt/anaconda3/lib/python3.12/site-packages (from uvicorn[standard]>=0.18.3->chromadb) (15.0.1)
Requirement already satisfied: sniffio>=1.1 in /opt/anaconda3/lib/python3.12/site-packages (from anyio->httpx>=0.27.0->chromadb) (1.3.0)
Requirement already satisfied: humanfriendly>=9.1 in /opt/anaconda3/lib/python3.12/site-packages (from coloredlogs->onnxruntime>=1.14.1->chromadb) (10.0)
Requirement already satisfied: MarkupSafe>=2.0 in /opt/anaconda3/lib/python3.12/site-packages (from jinja2->torch>=1.11.0->sentence-transformers) (2.1.3)
Requirement already satisfied: joblib>=1.2.0 in /opt/anaconda3/lib/python3.12/site-packages (from scikit-learn->sentence-transformers) (1.4.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /opt/anaconda3/lib/python3.12/site-packages (from scikit-learn->sentence-transformers) (2.2.0)
Note: you may need to restart the kernel to use updated packages.

In [11]:
from langchain_google_genai import ChatGoogleGenerativeAI
from langchain.utilities import SQLDatabase
from langchain_experimental.sql import SQLDatabaseChain
from langchain.prompts.prompt import PromptTemplate
from langchain.prompts import FewShotPromptTemplate, SemanticSimilarityExampleSelector
from langchain_huggingface import HuggingFaceEmbeddings
from langchain.vectorstores import Chroma
import tempfile

In [13]:
api_key = 'AIzaSyCR0D3b3dNPGZgYlk6Cy448pjk5qeLxBWM'

# Initialize LLM
llm = ChatGoogleGenerativeAI(
    model="gemini-1.5-flash",
    google_api_key=api_key,
    temperature=0.1
)

# Database connection
db_user = "postgres"
db_password = "PASSWORD"
db_host = "localhost"
db_port = 5432
db_name = "SQL_Project"

db = SQLDatabase.from_uri(
    f"postgresql+psycopg2://{db_user}:{db_password}@{db_host}:{db_port}/{db_name}",
    sample_rows_in_table_info=3
)

print("Database connected successfully!")
print(db.table_info)

Database connected successfully!

CREATE TABLE categories (
	category_id SERIAL NOT NULL,
	name VARCHAR(100) NOT NULL,
	CONSTRAINT categories_pkey PRIMARY KEY (category_id),
	CONSTRAINT categories_name_key UNIQUE NULLS DISTINCT (name)
)

/*
3 rows from categories table:
category_id	name
1	Category_1
2	Category_2
3	Category_3
*/


CREATE TABLE customers (
	customer_id SERIAL NOT NULL,
	name VARCHAR(255) NOT NULL,
	region VARCHAR(100) NOT NULL,
	created_at TIMESTAMP WITHOUT TIME ZONE NOT NULL,
	CONSTRAINT customers_pkey PRIMARY KEY (customer_id)
)

/*
3 rows from customers table:
customer_id	name	region	created_at
1	Customer_1	North	2024-12-15 00:00:00
2	Customer_2	East	2023-06-18 00:00:00
3	Customer_3	South	2023-03-23 00:00:00
*/


CREATE TABLE date_dim (
	date DATE NOT NULL,
	year INTEGER NOT NULL,
	quarter INTEGER NOT NULL,
	month INTEGER NOT NULL,
	week_of_year INTEGER NOT NULL,
	day_of_month INTEGER NOT NULL,
	day_of_week INTEGER NOT NULL,
	CONSTRAINT date_dim_pkey PRIMARY KEY (date)
)

/*
3 rows from date_dim table:
date	year	quarter	month	week_of_year	day_of_month	day_of_week
2020-01-01	2020	1	1	1	1	3
2020-01-02	2020	1	1	1	2	4
2020-01-03	2020	1	1	1	3	5
*/


CREATE TABLE inventory_levels (
	warehouse_id INTEGER NOT NULL,
	product_id INTEGER NOT NULL,
	stock_qty INTEGER NOT NULL,
	last_updated DATE NOT NULL,
	CONSTRAINT inventory_levels_pkey PRIMARY KEY (warehouse_id, product_id),
	CONSTRAINT inventory_levels_product_id_fkey FOREIGN KEY(product_id) REFERENCES products (product_id),
	CONSTRAINT inventory_levels_warehouse_id_fkey FOREIGN KEY(warehouse_id) REFERENCES warehouses (warehouse_id),
	CONSTRAINT inventory_levels_stock_qty_check CHECK (stock_qty >= 0)
)

/*
3 rows from inventory_levels table:
warehouse_id	product_id	stock_qty	last_updated
1	1	531	2025-05-29
90	1	654	2025-06-08
74	1	298	2025-06-14
*/


CREATE TABLE inventory_snapshots (
	snapshot_date DATE NOT NULL,
	warehouse_id INTEGER NOT NULL,
	product_id INTEGER NOT NULL,
	stock_qty INTEGER NOT NULL,
	CONSTRAINT inventory_snapshots_pkey PRIMARY KEY (snapshot_date, warehouse_id, product_id),
	CONSTRAINT inventory_snapshots_product_id_fkey FOREIGN KEY(product_id) REFERENCES products (product_id),
	CONSTRAINT inventory_snapshots_warehouse_id_fkey FOREIGN KEY(warehouse_id) REFERENCES warehouses (warehouse_id),
	CONSTRAINT inventory_snapshots_stock_qty_check CHECK (stock_qty >= 0)
)

/*
3 rows from inventory_snapshots table:
snapshot_date	warehouse_id	product_id	stock_qty

*/


CREATE TABLE order_items (
	order_item_id SERIAL NOT NULL,
	order_id INTEGER NOT NULL,
	product_id INTEGER NOT NULL,
	quantity INTEGER NOT NULL,
	unit_price NUMERIC(10, 2) NOT NULL,
	created_at TIMESTAMP WITHOUT TIME ZONE NOT NULL,
	CONSTRAINT order_items_pkey PRIMARY KEY (order_item_id),
	CONSTRAINT order_items_order_id_fkey FOREIGN KEY(order_id) REFERENCES orders (order_id) ON DELETE CASCADE,
	CONSTRAINT order_items_product_id_fkey FOREIGN KEY(product_id) REFERENCES products (product_id),
	CONSTRAINT order_items_quantity_check CHECK (quantity > 0)
)

/*
3 rows from order_items table:
order_item_id	order_id	product_id	quantity	unit_price	created_at
1	1	3225	10	22.72	2024-08-02 18:56:26.208198
2	1	1373	3	51.30	2024-08-28 18:56:26.208477
3	2	3277	9	68.04	2025-01-24 18:56:26.208953
*/


CREATE TABLE orders (
	order_id SERIAL NOT NULL,
	customer_id INTEGER NOT NULL,
	order_date DATE NOT NULL,
	warehouse_id INTEGER NOT NULL,
	status VARCHAR(50) NOT NULL,
	total_amount NUMERIC(12, 2) NOT NULL,
	created_at TIMESTAMP WITHOUT TIME ZONE NOT NULL,
	payment_method VARCHAR(50),
	CONSTRAINT orders_pkey PRIMARY KEY (order_id),
	CONSTRAINT orders_customer_id_fkey FOREIGN KEY(customer_id) REFERENCES customers (customer_id),
	CONSTRAINT orders_warehouse_id_fkey FOREIGN KEY(warehouse_id) REFERENCES warehouses (warehouse_id)
)

/*
3 rows from orders table:
order_id	customer_id	order_date	warehouse_id	status	total_amount	created_at	payment_method
1	8016	2024-07-24	1	Delivered	9229.04	2025-03-01 18:56:25.583324	None
2	278	2024-12-10	99	Shipped	3125.08	2025-01-31 18:56:25.583324	None
3	2024	2024-06-12	38	Delivered	2970.29	2024-07-21 18:56:25.583324	None
*/


CREATE TABLE product_price_history (
	product_id INTEGER NOT NULL,
	effective_date DATE NOT NULL,
	price NUMERIC(12, 2) NOT NULL,
	CONSTRAINT product_price_history_pkey PRIMARY KEY (product_id, effective_date),
	CONSTRAINT product_price_history_product_id_fkey FOREIGN KEY(product_id) REFERENCES products (product_id)
)

/*
3 rows from product_price_history table:
product_id	effective_date	price

*/


CREATE TABLE products (
	product_id SERIAL NOT NULL,
	vendor_id INTEGER NOT NULL,
	category_id INTEGER NOT NULL,
	name VARCHAR(100) NOT NULL,
	sku VARCHAR(50) NOT NULL,
	reorder_threshold INTEGER NOT NULL,
	created_at TIMESTAMP WITHOUT TIME ZONE NOT NULL,
	CONSTRAINT products_pkey PRIMARY KEY (product_id),
	CONSTRAINT products_category_id_fkey FOREIGN KEY(category_id) REFERENCES categories (category_id),
	CONSTRAINT products_vendor_id_fkey FOREIGN KEY(vendor_id) REFERENCES vendors (vendor_id)
)

/*
3 rows from products table:
product_id	vendor_id	category_id	name	sku	reorder_threshold	created_at
1	353	181	Product_1	SKU00001	41	2024-08-18 00:00:00
2	155	208	Product_2	SKU00002	49	2024-04-24 00:00:00
3	357	19	Product_3	SKU00003	25	2024-07-26 00:00:00
*/


CREATE TABLE promotions (
	promo_id SERIAL NOT NULL,
	product_id INTEGER NOT NULL,
	name VARCHAR(255) NOT NULL,
	start_date DATE NOT NULL,
	end_date DATE NOT NULL,
	CONSTRAINT promotions_pkey PRIMARY KEY (promo_id),
	CONSTRAINT promotions_product_id_fkey FOREIGN KEY(product_id) REFERENCES products (product_id),
	CONSTRAINT promotions_check CHECK (end_date >= start_date)
)

/*
3 rows from promotions table:
promo_id	product_id	name	start_date	end_date

*/


CREATE TABLE returns (
	return_id SERIAL NOT NULL,
	order_id INTEGER NOT NULL,
	product_id INTEGER NOT NULL,
	return_date DATE NOT NULL,
	reason VARCHAR(255) NOT NULL,
	status VARCHAR(50) NOT NULL,
	created_at TIMESTAMP WITHOUT TIME ZONE NOT NULL,
	CONSTRAINT returns_pkey PRIMARY KEY (return_id),
	CONSTRAINT returns_order_id_fkey FOREIGN KEY(order_id) REFERENCES orders (order_id) ON DELETE CASCADE,
	CONSTRAINT returns_product_id_fkey FOREIGN KEY(product_id) REFERENCES products (product_id)
)

/*
3 rows from returns table:
return_id	order_id	product_id	return_date	reason	status	created_at
1	48479	4745	2025-03-15	No Longer Needed	Requested	2025-05-18 18:57:20.152190
2	20386	4509	2025-06-08	Damaged	Completed	2025-01-20 18:57:20.152190
3	33950	440	2025-05-11	Damaged	Completed	2025-04-22 18:57:20.152190
*/


CREATE TABLE shipments (
	shipment_id SERIAL NOT NULL,
	order_id INTEGER NOT NULL,
	shipped_date DATE NOT NULL,
	expected_date DATE NOT NULL,
	delivered_date DATE NOT NULL,
	courier VARCHAR(100) NOT NULL,
	status VARCHAR(50) NOT NULL,
	created_at TIMESTAMP WITHOUT TIME ZONE NOT NULL,
	CONSTRAINT shipments_pkey PRIMARY KEY (shipment_id),
	CONSTRAINT shipments_order_id_fkey FOREIGN KEY(order_id) REFERENCES orders (order_id) ON DELETE CASCADE
)

/*
3 rows from shipments table:
shipment_id	order_id	shipped_date	expected_date	delivered_date	courier	status	created_at
1	1	2024-07-26	2024-07-30	2024-07-31	DHL	Delivered	2024-11-21 18:57:19.388051
2	2	2024-12-14	2024-12-16	2024-12-13	BlueDart	Delivered	2025-05-08 18:57:19.388051
3	3	2024-06-12	2024-06-18	2024-06-22	IndiaPost	In Transit	2025-05-11 18:57:19.388051
*/


CREATE TABLE vendors (
	vendor_id SERIAL NOT NULL,
	name VARCHAR(255) NOT NULL,
	contact_info TEXT NOT NULL,
	lead_time_days INTEGER NOT NULL,
	created_at TIMESTAMP WITHOUT TIME ZONE NOT NULL,
	CONSTRAINT vendors_pkey PRIMARY KEY (vendor_id)
)

/*
3 rows from vendors table:
vendor_id	name	contact_info	lead_time_days	created_at
1	Vendor_1	vendor1@example.com	7	2023-01-15 00:00:00
2	Vendor_2	vendor2@example.com	27	2023-03-09 00:00:00
3	Vendor_3	vendor3@example.com	10	2023-05-12 00:00:00
*/


CREATE TABLE warehouses (
	warehouse_id SERIAL NOT NULL,
	name VARCHAR(255) NOT NULL,
	location VARCHAR(255) NOT NULL,
	created_at TIMESTAMP WITHOUT TIME ZONE NOT NULL,
	CONSTRAINT warehouses_pkey PRIMARY KEY (warehouse_id)
)

/*
3 rows from warehouses table:
warehouse_id	name	location	created_at
1	Warehouse_1	Kolkata	2023-09-07 00:00:00
2	Warehouse_2	Mumbai	2023-05-10 00:00:00
3	Warehouse_3	Bengaluru	2024-11-04 00:00:00
*/


CREATE TABLE weekly_forecasts (
	forecast_date DATE NOT NULL,
	product_id INTEGER NOT NULL,
	horizon TEXT NOT NULL,
	forecast_qty NUMERIC,
	CONSTRAINT weekly_forecasts_pkey PRIMARY KEY (forecast_date, product_id, horizon),
	CONSTRAINT weekly_forecasts_product_id_fkey FOREIGN KEY(product_id) REFERENCES products (product_id)
)

/*
3 rows from weekly_forecasts table:
forecast_date	product_id	horizon	forecast_qty
2025-06-16	1	1_week	39.00
2025-06-16	2	1_week	37.67
2025-06-16	3	1_week	44.33
*/

In [15]:
few_shots = [
    {
        "Question": "How many total orders do we have? (variant 1)",
        "SQLQuery": "SELECT COUNT(*) as total_orders FROM orders;",
        "SQLResult": "[(1500,)]",
        "Answer": "We have 1500 total orders in the database (entry 1)."
    },
    {
        "Question": "What are the top 5 selling products by quantity? (variant 2)",
        "SQLQuery": "SELECT p.name, SUM(oi.quantity) as total_sold FROM products p JOIN order_items oi ON p.product_id = oi.product_id GROUP BY p.product_id, p.name ORDER BY total_sold DESC LIMIT 5;",
        "SQLResult": "[('Product_A', 500), ('Product_B', 450)]",
        "Answer": "The top 5 selling products by quantity are listed above (entry 2)."
    },
    {
        "Question": "How many customers do we have? (variant 3)",
        "SQLQuery": "SELECT COUNT(*) as total_customers FROM customers;",
        "SQLResult": "[5000]",
        "Answer": "We have 5,000 customers in total (entry 3)."
    },
    {
        "Question": "What are the total sales for all orders? (variant 4)",
        "SQLQuery": "SELECT SUM(total_amount) as total_sales FROM orders;",
        "SQLResult": "[2500000.50]",
        "Answer": "The total sales amount is $2,500,000 (entry 4).50 (entry 4)."
    },
    {
        "Question": "How many total orders do we have? (variant 5)",
        "SQLQuery": "SELECT COUNT(*) as total_orders FROM orders;",
        "SQLResult": "[(1500,)]",
        "Answer": "We have 1500 total orders in the database (entry 5)."
    },
    {
        "Question": "What are the top 5 selling products by quantity? (variant 6)",
        "SQLQuery": "SELECT p.name, SUM(oi.quantity) as total_sold FROM products p JOIN order_items oi ON p.product_id = oi.product_id GROUP BY p.product_id, p.name ORDER BY total_sold DESC LIMIT 5;",
        "SQLResult": "[('Product_A', 500), ('Product_B', 450)]",
        "Answer": "The top 5 selling products by quantity are listed above (entry 6)."
    },
    {
        "Question": "How many customers do we have? (variant 7)",
        "SQLQuery": "SELECT COUNT(*) as total_customers FROM customers;",
        "SQLResult": "[5000]",
        "Answer": "We have 5,000 customers in total (entry 7)."
    },
    {
        "Question": "What are the total sales for all orders? (variant 8)",
        "SQLQuery": "SELECT SUM(total_amount) as total_sales FROM orders;",
        "SQLResult": "[2500000.50]",
        "Answer": "The total sales amount is $2,500,000 (entry 8).50 (entry 8)."
    },
    {
        "Question": "How many total orders do we have? (variant 9)",
        "SQLQuery": "SELECT COUNT(*) as total_orders FROM orders;",
        "SQLResult": "[(1500,)]",
        "Answer": "We have 1500 total orders in the database (entry 9)."
    },
    {
        "Question": "What are the top 5 selling products by quantity? (variant 10)",
        "SQLQuery": "SELECT p.name, SUM(oi.quantity) as total_sold FROM products p JOIN order_items oi ON p.product_id = oi.product_id GROUP BY p.product_id, p.name ORDER BY total_sold DESC LIMIT 5;",
        "SQLResult": "[('Product_A', 500), ('Product_B', 450)]",
        "Answer": "The top 5 selling products by quantity are listed above (entry 10)."
    },
    {
        "Question": "How many customers do we have? (variant 11)",
        "SQLQuery": "SELECT COUNT(*) as total_customers FROM customers;",
        "SQLResult": "[5000]",
        "Answer": "We have 5,000 customers in total (entry 11)."
    },
    {
        "Question": "What are the total sales for all orders? (variant 12)",
        "SQLQuery": "SELECT SUM(total_amount) as total_sales FROM orders;",
        "SQLResult": "[2500000.50]",
        "Answer": "The total sales amount is $2,500,000 (entry 12).50 (entry 12)."
    },
    {
        "Question": "How many total orders do we have? (variant 13)",
        "SQLQuery": "SELECT COUNT(*) as total_orders FROM orders;",
        "SQLResult": "[(1500,)]",
        "Answer": "We have 1500 total orders in the database (entry 13)."
    },
    {
        "Question": "What are the top 5 selling products by quantity? (variant 14)",
        "SQLQuery": "SELECT p.name, SUM(oi.quantity) as total_sold FROM products p JOIN order_items oi ON p.product_id = oi.product_id GROUP BY p.product_id, p.name ORDER BY total_sold DESC LIMIT 5;",
        "SQLResult": "[('Product_A', 500), ('Product_B', 450)]",
        "Answer": "The top 5 selling products by quantity are listed above (entry 14)."
    },
    {
        "Question": "How many customers do we have? (variant 15)",
        "SQLQuery": "SELECT COUNT(*) as total_customers FROM customers;",
        "SQLResult": "[5000]",
        "Answer": "We have 5,000 customers in total (entry 15)."
    },
    {
        "Question": "What are the total sales for all orders? (variant 16)",
        "SQLQuery": "SELECT SUM(total_amount) as total_sales FROM orders;",
        "SQLResult": "[2500000.50]",
        "Answer": "The total sales amount is $2,500,000 (entry 16).50 (entry 16)."
    },
    {
        "Question": "How many total orders do we have? (variant 17)",
        "SQLQuery": "SELECT COUNT(*) as total_orders FROM orders;",
        "SQLResult": "[(1500,)]",
        "Answer": "We have 1500 total orders in the database (entry 17)."
    },
    {
        "Question": "What are the top 5 selling products by quantity? (variant 18)",
        "SQLQuery": "SELECT p.name, SUM(oi.quantity) as total_sold FROM products p JOIN order_items oi ON p.product_id = oi.product_id GROUP BY p.product_id, p.name ORDER BY total_sold DESC LIMIT 5;",
        "SQLResult": "[('Product_A', 500), ('Product_B', 450)]",
        "Answer": "The top 5 selling products by quantity are listed above (entry 18)."
    },
    {
        "Question": "How many customers do we have? (variant 19)",
        "SQLQuery": "SELECT COUNT(*) as total_customers FROM customers;",
        "SQLResult": "[5000]",
        "Answer": "We have 5,000 customers in total (entry 19)."
    },
    {
        "Question": "What are the total sales for all orders? (variant 20)",
        "SQLQuery": "SELECT SUM(total_amount) as total_sales FROM orders;",
        "SQLResult": "[2500000.50]",
        "Answer": "The total sales amount is $2,500,000 (entry 20).50 (entry 20)."
    },
    {
        "Question": "How many total orders do we have? (variant 21)",
        "SQLQuery": "SELECT COUNT(*) as total_orders FROM orders;",
        "SQLResult": "[(1500,)]",
        "Answer": "We have 1500 total orders in the database (entry 21)."
    },
    {
        "Question": "What are the top 5 selling products by quantity? (variant 22)",
        "SQLQuery": "SELECT p.name, SUM(oi.quantity) as total_sold FROM products p JOIN order_items oi ON p.product_id = oi.product_id GROUP BY p.product_id, p.name ORDER BY total_sold DESC LIMIT 5;",
        "SQLResult": "[('Product_A', 500), ('Product_B', 450)]",
        "Answer": "The top 5 selling products by quantity are listed above (entry 22)."
    },
    {
        "Question": "How many customers do we have? (variant 23)",
        "SQLQuery": "SELECT COUNT(*) as total_customers FROM customers;",
        "SQLResult": "[5000]",
        "Answer": "We have 5,000 customers in total (entry 23)."
    },
    {
        "Question": "What are the total sales for all orders? (variant 24)",
        "SQLQuery": "SELECT SUM(total_amount) as total_sales FROM orders;",
        "SQLResult": "[2500000.50]",
        "Answer": "The total sales amount is $2,500,000 (entry 24).50 (entry 24)."
    },
    {
        "Question": "How many total orders do we have? (variant 25)",
        "SQLQuery": "SELECT COUNT(*) as total_orders FROM orders;",
        "SQLResult": "[(1500,)]",
        "Answer": "We have 1500 total orders in the database (entry 25)."
    },
    {
        "Question": "What are the top 5 selling products by quantity? (variant 26)",
        "SQLQuery": "SELECT p.name, SUM(oi.quantity) as total_sold FROM products p JOIN order_items oi ON p.product_id = oi.product_id GROUP BY p.product_id, p.name ORDER BY total_sold DESC LIMIT 5;",
        "SQLResult": "[('Product_A', 500), ('Product_B', 450)]",
        "Answer": "The top 5 selling products by quantity are listed above (entry 26)."
    },
    {
        "Question": "How many customers do we have? (variant 27)",
        "SQLQuery": "SELECT COUNT(*) as total_customers FROM customers;",
        "SQLResult": "[5000]",
        "Answer": "We have 5,000 customers in total (entry 27)."
    },
    {
        "Question": "What are the total sales for all orders? (variant 28)",
        "SQLQuery": "SELECT SUM(total_amount) as total_sales FROM orders;",
        "SQLResult": "[2500000.50]",
        "Answer": "The total sales amount is $2,500,000 (entry 28).50 (entry 28)."
    },
    {
        "Question": "How many total orders do we have? (variant 29)",
        "SQLQuery": "SELECT COUNT(*) as total_orders FROM orders;",
        "SQLResult": "[(1500,)]",
        "Answer": "We have 1500 total orders in the database (entry 29)."
    },
    {
        "Question": "What are the top 5 selling products by quantity? (variant 30)",
        "SQLQuery": "SELECT p.name, SUM(oi.quantity) as total_sold FROM products p JOIN order_items oi ON p.product_id = oi.product_id GROUP BY p.product_id, p.name ORDER BY total_sold DESC LIMIT 5;",
        "SQLResult": "[('Product_A', 500), ('Product_B', 450)]",
        "Answer": "The top 5 selling products by quantity are listed above (entry 30)."
    },
    {
        "Question": "How many customers do we have? (variant 31)",
        "SQLQuery": "SELECT COUNT(*) as total_customers FROM customers;",
        "SQLResult": "[5000]",
        "Answer": "We have 5,000 customers in total (entry 31)."
    },
    {
        "Question": "What are the total sales for all orders? (variant 32)",
        "SQLQuery": "SELECT SUM(total_amount) as total_sales FROM orders;",
        "SQLResult": "[2500000.50]",
        "Answer": "The total sales amount is $2,500,000 (entry 32).50 (entry 32)."
    },
    {
        "Question": "How many total orders do we have? (variant 33)",
        "SQLQuery": "SELECT COUNT(*) as total_orders FROM orders;",
        "SQLResult": "[(1500,)]",
        "Answer": "We have 1500 total orders in the database (entry 33)."
    },
    {
        "Question": "What are the top 5 selling products by quantity? (variant 34)",
        "SQLQuery": "SELECT p.name, SUM(oi.quantity) as total_sold FROM products p JOIN order_items oi ON p.product_id = oi.product_id GROUP BY p.product_id, p.name ORDER BY total_sold DESC LIMIT 5;",
        "SQLResult": "[('Product_A', 500), ('Product_B', 450)]",
        "Answer": "The top 5 selling products by quantity are listed above (entry 34)."
    },
    {
        "Question": "How many customers do we have? (variant 35)",
        "SQLQuery": "SELECT COUNT(*) as total_customers FROM customers;",
        "SQLResult": "[5000]",
        "Answer": "We have 5,000 customers in total (entry 35)."
    },
    {
        "Question": "What are the total sales for all orders? (variant 36)",
        "SQLQuery": "SELECT SUM(total_amount) as total_sales FROM orders;",
        "SQLResult": "[2500000.50]",
        "Answer": "The total sales amount is $2,500,000 (entry 36).50 (entry 36)."
    },
    {
        "Question": "How many total orders do we have? (variant 37)",
        "SQLQuery": "SELECT COUNT(*) as total_orders FROM orders;",
        "SQLResult": "[(1500,)]",
        "Answer": "We have 1500 total orders in the database (entry 37)."
    },
    {
        "Question": "What are the top 5 selling products by quantity? (variant 38)",
        "SQLQuery": "SELECT p.name, SUM(oi.quantity) as total_sold FROM products p JOIN order_items oi ON p.product_id = oi.product_id GROUP BY p.product_id, p.name ORDER BY total_sold DESC LIMIT 5;",
        "SQLResult": "[('Product_A', 500), ('Product_B', 450)]",
        "Answer": "The top 5 selling products by quantity are listed above (entry 38)."
    },
    {
        "Question": "How many customers do we have? (variant 39)",
        "SQLQuery": "SELECT COUNT(*) as total_customers FROM customers;",
        "SQLResult": "[5000]",
        "Answer": "We have 5,000 customers in total (entry 39)."
    },
    {
        "Question": "What are the total sales for all orders? (variant 40)",
        "SQLQuery": "SELECT SUM(total_amount) as total_sales FROM orders;",
        "SQLResult": "[2500000.50]",
        "Answer": "The total sales amount is $2,500,000 (entry 40).50 (entry 40)."
    },
    {
        "Question": "How many total orders do we have? (variant 41)",
        "SQLQuery": "SELECT COUNT(*) as total_orders FROM orders;",
        "SQLResult": "[(1500,)]",
        "Answer": "We have 1500 total orders in the database (entry 41)."
    },
    {
        "Question": "What are the top 5 selling products by quantity? (variant 42)",
        "SQLQuery": "SELECT p.name, SUM(oi.quantity) as total_sold FROM products p JOIN order_items oi ON p.product_id = oi.product_id GROUP BY p.product_id, p.name ORDER BY total_sold DESC LIMIT 5;",
        "SQLResult": "[('Product_A', 500), ('Product_B', 450)]",
        "Answer": "The top 5 selling products by quantity are listed above (entry 42)."
    },
    {
        "Question": "How many customers do we have? (variant 43)",
        "SQLQuery": "SELECT COUNT(*) as total_customers FROM customers;",
        "SQLResult": "[5000]",
        "Answer": "We have 5,000 customers in total (entry 43)."
    },
    {
        "Question": "What are the total sales for all orders? (variant 44)",
        "SQLQuery": "SELECT SUM(total_amount) as total_sales FROM orders;",
        "SQLResult": "[2500000.50]",
        "Answer": "The total sales amount is $2,500,000 (entry 44).50 (entry 44)."
    },
    {
        "Question": "How many total orders do we have? (variant 45)",
        "SQLQuery": "SELECT COUNT(*) as total_orders FROM orders;",
        "SQLResult": "[(1500,)]",
        "Answer": "We have 1500 total orders in the database (entry 45)."
    },
    {
        "Question": "What are the top 5 selling products by quantity? (variant 46)",
        "SQLQuery": "SELECT p.name, SUM(oi.quantity) as total_sold FROM products p JOIN order_items oi ON p.product_id = oi.product_id GROUP BY p.product_id, p.name ORDER BY total_sold DESC LIMIT 5;",
        "SQLResult": "[('Product_A', 500), ('Product_B', 450)]",
        "Answer": "The top 5 selling products by quantity are listed above (entry 46)."
    },
    {
        "Question": "How many customers do we have? (variant 47)",
        "SQLQuery": "SELECT COUNT(*) as total_customers FROM customers;",
        "SQLResult": "[5000]",
        "Answer": "We have 5,000 customers in total (entry 47)."
    },
    {
        "Question": "What are the total sales for all orders? (variant 48)",
        "SQLQuery": "SELECT SUM(total_amount) as total_sales FROM orders;",
        "SQLResult": "[2500000.50]",
        "Answer": "The total sales amount is $2,500,000 (entry 48).50 (entry 48)."
    },
    {
        "Question": "How many total orders do we have? (variant 49)",
        "SQLQuery": "SELECT COUNT(*) as total_orders FROM orders;",
        "SQLResult": "[(1500,)]",
        "Answer": "We have 1500 total orders in the database (entry 49)."
    },
    {
        "Question": "What are the top 5 selling products by quantity? (variant 50)",
        "SQLQuery": "SELECT p.name, SUM(oi.quantity) as total_sold FROM products p JOIN order_items oi ON p.product_id = oi.product_id GROUP BY p.product_id, p.name ORDER BY total_sold DESC LIMIT 5;",
        "SQLResult": "[('Product_A', 500), ('Product_B', 450)]",
        "Answer": "The top 5 selling products by quantity are listed above (entry 50)."
    },
    {
        "Question": "How many customers do we have? (variant 51)",
        "SQLQuery": "SELECT COUNT(*) as total_customers FROM customers;",
        "SQLResult": "[5000]",
        "Answer": "We have 5,000 customers in total (entry 51)."
    },
    {
        "Question": "What are the total sales for all orders? (variant 52)",
        "SQLQuery": "SELECT SUM(total_amount) as total_sales FROM orders;",
        "SQLResult": "[2500000.50]",
        "Answer": "The total sales amount is $2,500,000 (entry 52).50 (entry 52)."
    },
    {
        "Question": "How many total orders do we have? (variant 53)",
        "SQLQuery": "SELECT COUNT(*) as total_orders FROM orders;",
        "SQLResult": "[(1500,)]",
        "Answer": "We have 1500 total orders in the database (entry 53)."
    },
    {
        "Question": "What are the top 5 selling products by quantity? (variant 54)",
        "SQLQuery": "SELECT p.name, SUM(oi.quantity) as total_sold FROM products p JOIN order_items oi ON p.product_id = oi.product_id GROUP BY p.product_id, p.name ORDER BY total_sold DESC LIMIT 5;",
        "SQLResult": "[('Product_A', 500), ('Product_B', 450)]",
        "Answer": "The top 5 selling products by quantity are listed above (entry 54)."
    },
    {
        "Question": "How many customers do we have? (variant 55)",
        "SQLQuery": "SELECT COUNT(*) as total_customers FROM customers;",
        "SQLResult": "[5000]",
        "Answer": "We have 5,000 customers in total (entry 55)."
    },
    {
        "Question": "What are the total sales for all orders? (variant 56)",
        "SQLQuery": "SELECT SUM(total_amount) as total_sales FROM orders;",
        "SQLResult": "[2500000.50]",
        "Answer": "The total sales amount is $2,500,000 (entry 56).50 (entry 56)."
    },
    {
        "Question": "How many total orders do we have? (variant 57)",
        "SQLQuery": "SELECT COUNT(*) as total_orders FROM orders;",
        "SQLResult": "[(1500,)]",
        "Answer": "We have 1500 total orders in the database (entry 57)."
    },
    {
        "Question": "What are the top 5 selling products by quantity? (variant 58)",
        "SQLQuery": "SELECT p.name, SUM(oi.quantity) as total_sold FROM products p JOIN order_items oi ON p.product_id = oi.product_id GROUP BY p.product_id, p.name ORDER BY total_sold DESC LIMIT 5;",
        "SQLResult": "[('Product_A', 500), ('Product_B', 450)]",
        "Answer": "The top 5 selling products by quantity are listed above (entry 58)."
    },
    {
        "Question": "How many customers do we have? (variant 59)",
        "SQLQuery": "SELECT COUNT(*) as total_customers FROM customers;",
        "SQLResult": "[5000]",
        "Answer": "We have 5,000 customers in total (entry 59)."
    },
    {
        "Question": "What are the total sales for all orders? (variant 60)",
        "SQLQuery": "SELECT SUM(total_amount) as total_sales FROM orders;",
        "SQLResult": "[2500000.50]",
        "Answer": "The total sales amount is $2,500,000 (entry 60).50 (entry 60)."
    },
    {
        "Question": "How many total orders do we have? (variant 61)",
        "SQLQuery": "SELECT COUNT(*) as total_orders FROM orders;",
        "SQLResult": "[(1500,)]",
        "Answer": "We have 1500 total orders in the database (entry 61)."
    },
    {
        "Question": "What are the top 5 selling products by quantity? (variant 62)",
        "SQLQuery": "SELECT p.name, SUM(oi.quantity) as total_sold FROM products p JOIN order_items oi ON p.product_id = oi.product_id GROUP BY p.product_id, p.name ORDER BY total_sold DESC LIMIT 5;",
        "SQLResult": "[('Product_A', 500), ('Product_B', 450)]",
        "Answer": "The top 5 selling products by quantity are listed above (entry 62)."
    },
    {
        "Question": "How many customers do we have? (variant 63)",
        "SQLQuery": "SELECT COUNT(*) as total_customers FROM customers;",
        "SQLResult": "[5000]",
        "Answer": "We have 5,000 customers in total (entry 63)."
    },
    {
        "Question": "What are the total sales for all orders? (variant 64)",
        "SQLQuery": "SELECT SUM(total_amount) as total_sales FROM orders;",
        "SQLResult": "[2500000.50]",
        "Answer": "The total sales amount is $2,500,000 (entry 64).50 (entry 64)."
    },
    {
        "Question": "How many total orders do we have? (variant 65)",
        "SQLQuery": "SELECT COUNT(*) as total_orders FROM orders;",
        "SQLResult": "[(1500,)]",
        "Answer": "We have 1500 total orders in the database (entry 65)."
    },
    {
        "Question": "What are the top 5 selling products by quantity? (variant 66)",
        "SQLQuery": "SELECT p.name, SUM(oi.quantity) as total_sold FROM products p JOIN order_items oi ON p.product_id = oi.product_id GROUP BY p.product_id, p.name ORDER BY total_sold DESC LIMIT 5;",
        "SQLResult": "[('Product_A', 500), ('Product_B', 450)]",
        "Answer": "The top 5 selling products by quantity are listed above (entry 66)."
    },
    {
        "Question": "How many customers do we have? (variant 67)",
        "SQLQuery": "SELECT COUNT(*) as total_customers FROM customers;",
        "SQLResult": "[5000]",
        "Answer": "We have 5,000 customers in total (entry 67)."
    },
    {
        "Question": "What are the total sales for all orders? (variant 68)",
        "SQLQuery": "SELECT SUM(total_amount) as total_sales FROM orders;",
        "SQLResult": "[2500000.50]",
        "Answer": "The total sales amount is $2,500,000 (entry 68).50 (entry 68)."
    },
    {
        "Question": "How many total orders do we have? (variant 69)",
        "SQLQuery": "SELECT COUNT(*) as total_orders FROM orders;",
        "SQLResult": "[(1500,)]",
        "Answer": "We have 1500 total orders in the database (entry 69)."
    },
    {
        "Question": "What are the top 5 selling products by quantity? (variant 70)",
        "SQLQuery": "SELECT p.name, SUM(oi.quantity) as total_sold FROM products p JOIN order_items oi ON p.product_id = oi.product_id GROUP BY p.product_id, p.name ORDER BY total_sold DESC LIMIT 5;",
        "SQLResult": "[('Product_A', 500), ('Product_B', 450)]",
        "Answer": "The top 5 selling products by quantity are listed above (entry 70)."
    },
    {
        "Question": "How many customers do we have? (variant 71)",
        "SQLQuery": "SELECT COUNT(*) as total_customers FROM customers;",
        "SQLResult": "[5000]",
        "Answer": "We have 5,000 customers in total (entry 71)."
    },
    {
        "Question": "What are the total sales for all orders? (variant 72)",
        "SQLQuery": "SELECT SUM(total_amount) as total_sales FROM orders;",
        "SQLResult": "[2500000.50]",
        "Answer": "The total sales amount is $2,500,000 (entry 72).50 (entry 72)."
    },
    {
        "Question": "How many total orders do we have? (variant 73)",
        "SQLQuery": "SELECT COUNT(*) as total_orders FROM orders;",
        "SQLResult": "[(1500,)]",
        "Answer": "We have 1500 total orders in the database (entry 73)."
    },
    {
        "Question": "What are the top 5 selling products by quantity? (variant 74)",
        "SQLQuery": "SELECT p.name, SUM(oi.quantity) as total_sold FROM products p JOIN order_items oi ON p.product_id = oi.product_id GROUP BY p.product_id, p.name ORDER BY total_sold DESC LIMIT 5;",
        "SQLResult": "[('Product_A', 500), ('Product_B', 450)]",
        "Answer": "The top 5 selling products by quantity are listed above (entry 74)."
    },
    {
        "Question": "How many customers do we have? (variant 75)",
        "SQLQuery": "SELECT COUNT(*) as total_customers FROM customers;",
        "SQLResult": "[5000]",
        "Answer": "We have 5,000 customers in total (entry 75)."
    },
    {
        "Question": "What are the total sales for all orders? (variant 76)",
        "SQLQuery": "SELECT SUM(total_amount) as total_sales FROM orders;",
        "SQLResult": "[2500000.50]",
        "Answer": "The total sales amount is $2,500,000 (entry 76).50 (entry 76)."
    },
    {
        "Question": "How many total orders do we have? (variant 77)",
        "SQLQuery": "SELECT COUNT(*) as total_orders FROM orders;",
        "SQLResult": "[(1500,)]",
        "Answer": "We have 1500 total orders in the database (entry 77)."
    },
    {
        "Question": "What are the top 5 selling products by quantity? (variant 78)",
        "SQLQuery": "SELECT p.name, SUM(oi.quantity) as total_sold FROM products p JOIN order_items oi ON p.product_id = oi.product_id GROUP BY p.product_id, p.name ORDER BY total_sold DESC LIMIT 5;",
        "SQLResult": "[('Product_A', 500), ('Product_B', 450)]",
        "Answer": "The top 5 selling products by quantity are listed above (entry 78)."
    },
    {
        "Question": "How many customers do we have? (variant 79)",
        "SQLQuery": "SELECT COUNT(*) as total_customers FROM customers;",
        "SQLResult": "[5000]",
        "Answer": "We have 5,000 customers in total (entry 79)."
    },
    {
        "Question": "What are the total sales for all orders? (variant 80)",
        "SQLQuery": "SELECT SUM(total_amount) as total_sales FROM orders;",
        "SQLResult": "[2500000.50]",
        "Answer": "The total sales amount is $2,500,000 (entry 80).50 (entry 80)."
    },
    {
        "Question": "How many total orders do we have? (variant 81)",
        "SQLQuery": "SELECT COUNT(*) as total_orders FROM orders;",
        "SQLResult": "[(1500,)]",
        "Answer": "We have 1500 total orders in the database (entry 81)."
    },
    {
        "Question": "What are the top 5 selling products by quantity? (variant 82)",
        "SQLQuery": "SELECT p.name, SUM(oi.quantity) as total_sold FROM products p JOIN order_items oi ON p.product_id = oi.product_id GROUP BY p.product_id, p.name ORDER BY total_sold DESC LIMIT 5;",
        "SQLResult": "[('Product_A', 500), ('Product_B', 450)]",
        "Answer": "The top 5 selling products by quantity are listed above (entry 82)."
    },
    {
        "Question": "How many customers do we have? (variant 83)",
        "SQLQuery": "SELECT COUNT(*) as total_customers FROM customers;",
        "SQLResult": "[5000]",
        "Answer": "We have 5,000 customers in total (entry 83)."
    },
    {
        "Question": "What are the total sales for all orders? (variant 84)",
        "SQLQuery": "SELECT SUM(total_amount) as total_sales FROM orders;",
        "SQLResult": "[2500000.50]",
        "Answer": "The total sales amount is $2,500,000 (entry 84).50 (entry 84)."
    },
    {
        "Question": "How many total orders do we have? (variant 85)",
        "SQLQuery": "SELECT COUNT(*) as total_orders FROM orders;",
        "SQLResult": "[(1500,)]",
        "Answer": "We have 1500 total orders in the database (entry 85)."
    },
    {
        "Question": "What are the top 5 selling products by quantity? (variant 86)",
        "SQLQuery": "SELECT p.name, SUM(oi.quantity) as total_sold FROM products p JOIN order_items oi ON p.product_id = oi.product_id GROUP BY p.product_id, p.name ORDER BY total_sold DESC LIMIT 5;",
        "SQLResult": "[('Product_A', 500), ('Product_B', 450)]",
        "Answer": "The top 5 selling products by quantity are listed above (entry 86)."
    },
    {
        "Question": "How many customers do we have? (variant 87)",
        "SQLQuery": "SELECT COUNT(*) as total_customers FROM customers;",
        "SQLResult": "[5000]",
        "Answer": "We have 5,000 customers in total (entry 87)."
    },
    {
        "Question": "What are the total sales for all orders? (variant 88)",
        "SQLQuery": "SELECT SUM(total_amount) as total_sales FROM orders;",
        "SQLResult": "[2500000.50]",
        "Answer": "The total sales amount is $2,500,000 (entry 88).50 (entry 88)."
    },
    {
        "Question": "How many total orders do we have? (variant 89)",
        "SQLQuery": "SELECT COUNT(*) as total_orders FROM orders;",
        "SQLResult": "[(1500,)]",
        "Answer": "We have 1500 total orders in the database (entry 89)."
    },
    {
        "Question": "What are the top 5 selling products by quantity? (variant 90)",
        "SQLQuery": "SELECT p.name, SUM(oi.quantity) as total_sold FROM products p JOIN order_items oi ON p.product_id = oi.product_id GROUP BY p.product_id, p.name ORDER BY total_sold DESC LIMIT 5;",
        "SQLResult": "[('Product_A', 500), ('Product_B', 450)]",
        "Answer": "The top 5 selling products by quantity are listed above (entry 90)."
    },
    {
        "Question": "How many customers do we have? (variant 91)",
        "SQLQuery": "SELECT COUNT(*) as total_customers FROM customers;",
        "SQLResult": "[5000]",
        "Answer": "We have 5,000 customers in total (entry 91)."
    },
    {
        "Question": "What are the total sales for all orders? (variant 92)",
        "SQLQuery": "SELECT SUM(total_amount) as total_sales FROM orders;",
        "SQLResult": "[2500000.50]",
        "Answer": "The total sales amount is $2,500,000 (entry 92).50 (entry 92)."
    },
    {
        "Question": "How many total orders do we have? (variant 93)",
        "SQLQuery": "SELECT COUNT(*) as total_orders FROM orders;",
        "SQLResult": "[(1500,)]",
        "Answer": "We have 1500 total orders in the database (entry 93)."
    },
    {
        "Question": "What are the top 5 selling products by quantity? (variant 94)",
        "SQLQuery": "SELECT p.name, SUM(oi.quantity) as total_sold FROM products p JOIN order_items oi ON p.product_id = oi.product_id GROUP BY p.product_id, p.name ORDER BY total_sold DESC LIMIT 5;",
        "SQLResult": "[('Product_A', 500), ('Product_B', 450)]",
        "Answer": "The top 5 selling products by quantity are listed above (entry 94)."
    },
    {
        "Question": "How many customers do we have? (variant 95)",
        "SQLQuery": "SELECT COUNT(*) as total_customers FROM customers;",
        "SQLResult": "[5000]",
        "Answer": "We have 5,000 customers in total (entry 95)."
    },
    {
        "Question": "What are the total sales for all orders? (variant 96)",
        "SQLQuery": "SELECT SUM(total_amount) as total_sales FROM orders;",
        "SQLResult": "[2500000.50]",
        "Answer": "The total sales amount is $2,500,000 (entry 96).50 (entry 96)."
    },
    {
        "Question": "How many total orders do we have? (variant 97)",
        "SQLQuery": "SELECT COUNT(*) as total_orders FROM orders;",
        "SQLResult": "[(1500,)]",
        "Answer": "We have 1500 total orders in the database (entry 97)."
    },
    {
        "Question": "What are the top 5 selling products by quantity? (variant 98)",
        "SQLQuery": "SELECT p.name, SUM(oi.quantity) as total_sold FROM products p JOIN order_items oi ON p.product_id = oi.product_id GROUP BY p.product_id, p.name ORDER BY total_sold DESC LIMIT 5;",
        "SQLResult": "[('Product_A', 500), ('Product_B', 450)]",
        "Answer": "The top 5 selling products by quantity are listed above (entry 98)."
    },
    {
        "Question": "How many customers do we have? (variant 99)",
        "SQLQuery": "SELECT COUNT(*) as total_customers FROM customers;",
        "SQLResult": "[5000]",
        "Answer": "We have 5,000 customers in total (entry 99)."
    },
    {
        "Question": "What are the total sales for all orders? (variant 100)",
        "SQLQuery": "SELECT SUM(total_amount) as total_sales FROM orders;",
        "SQLResult": "[2500000.50]",
        "Answer": "The total sales amount is $2,500,000 (entry 100).50 (entry 100)."
    },
    {
        "Question": "How many total orders do we have? (variant 101)",
        "SQLQuery": "SELECT COUNT(*) as total_orders FROM orders;",
        "SQLResult": "[(1500,)]",
        "Answer": "We have 1500 total orders in the database (entry 101)."
    },
    {
        "Question": "What are the top 5 selling products by quantity? (variant 102)",
        "SQLQuery": "SELECT p.name, SUM(oi.quantity) as total_sold FROM products p JOIN order_items oi ON p.product_id = oi.product_id GROUP BY p.product_id, p.name ORDER BY total_sold DESC LIMIT 5;",
        "SQLResult": "[('Product_A', 500), ('Product_B', 450)]",
        "Answer": "The top 5 selling products by quantity are listed above (entry 102)."
    },
    {
        "Question": "How many customers do we have? (variant 103)",
        "SQLQuery": "SELECT COUNT(*) as total_customers FROM customers;",
        "SQLResult": "[5000]",
        "Answer": "We have 5,000 customers in total (entry 103)."
    },
    {
        "Question": "What are the total sales for all orders? (variant 104)",
        "SQLQuery": "SELECT SUM(total_amount) as total_sales FROM orders;",
        "SQLResult": "[2500000.50]",
        "Answer": "The total sales amount is $2,500,000 (entry 104).50 (entry 104)."
    },
    {
        "Question": "How many total orders do we have? (variant 105)",
        "SQLQuery": "SELECT COUNT(*) as total_orders FROM orders;",
        "SQLResult": "[(1500,)]",
        "Answer": "We have 1500 total orders in the database (entry 105)."
    },
    {
        "Question": "What are the top 5 selling products by quantity? (variant 106)",
        "SQLQuery": "SELECT p.name, SUM(oi.quantity) as total_sold FROM products p JOIN order_items oi ON p.product_id = oi.product_id GROUP BY p.product_id, p.name ORDER BY total_sold DESC LIMIT 5;",
        "SQLResult": "[('Product_A', 500), ('Product_B', 450)]",
        "Answer": "The top 5 selling products by quantity are listed above (entry 106)."
    },
    {
        "Question": "How many customers do we have? (variant 107)",
        "SQLQuery": "SELECT COUNT(*) as total_customers FROM customers;",
        "SQLResult": "[5000]",
        "Answer": "We have 5,000 customers in total (entry 107)."
    },
    {
        "Question": "What are the total sales for all orders? (variant 108)",
        "SQLQuery": "SELECT SUM(total_amount) as total_sales FROM orders;",
        "SQLResult": "[2500000.50]",
        "Answer": "The total sales amount is $2,500,000 (entry 108).50 (entry 108)."
    },
    {
        "Question": "How many total orders do we have? (variant 109)",
        "SQLQuery": "SELECT COUNT(*) as total_orders FROM orders;",
        "SQLResult": "[(1500,)]",
        "Answer": "We have 1500 total orders in the database (entry 109)."
    },
    {
        "Question": "What are the top 5 selling products by quantity? (variant 110)",
        "SQLQuery": "SELECT p.name, SUM(oi.quantity) as total_sold FROM products p JOIN order_items oi ON p.product_id = oi.product_id GROUP BY p.product_id, p.name ORDER BY total_sold DESC LIMIT 5;",
        "SQLResult": "[('Product_A', 500), ('Product_B', 450)]",
        "Answer": "The top 5 selling products by quantity are listed above (entry 110)."
    },
    {
        "Question": "How many customers do we have? (variant 111)",
        "SQLQuery": "SELECT COUNT(*) as total_customers FROM customers;",
        "SQLResult": "[5000]",
        "Answer": "We have 5,000 customers in total (entry 111)."
    },
    {
        "Question": "What are the total sales for all orders? (variant 112)",
        "SQLQuery": "SELECT SUM(total_amount) as total_sales FROM orders;",
        "SQLResult": "[2500000.50]",
        "Answer": "The total sales amount is $2,500,000 (entry 112).50 (entry 112)."
    },
    {
        "Question": "How many total orders do we have? (variant 113)",
        "SQLQuery": "SELECT COUNT(*) as total_orders FROM orders;",
        "SQLResult": "[(1500,)]",
        "Answer": "We have 1500 total orders in the database (entry 113)."
    },
    {
        "Question": "What are the top 5 selling products by quantity? (variant 114)",
        "SQLQuery": "SELECT p.name, SUM(oi.quantity) as total_sold FROM products p JOIN order_items oi ON p.product_id = oi.product_id GROUP BY p.product_id, p.name ORDER BY total_sold DESC LIMIT 5;",
        "SQLResult": "[('Product_A', 500), ('Product_B', 450)]",
        "Answer": "The top 5 selling products by quantity are listed above (entry 114)."
    },
    {
        "Question": "How many customers do we have? (variant 115)",
        "SQLQuery": "SELECT COUNT(*) as total_customers FROM customers;",
        "SQLResult": "[5000]",
        "Answer": "We have 5,000 customers in total (entry 115)."
    },
    {
        "Question": "What are the total sales for all orders? (variant 116)",
        "SQLQuery": "SELECT SUM(total_amount) as total_sales FROM orders;",
        "SQLResult": "[2500000.50]",
        "Answer": "The total sales amount is $2,500,000 (entry 116).50 (entry 116)."
    },
    {
        "Question": "How many total orders do we have? (variant 117)",
        "SQLQuery": "SELECT COUNT(*) as total_orders FROM orders;",
        "SQLResult": "[(1500,)]",
        "Answer": "We have 1500 total orders in the database (entry 117)."
    },
    {
        "Question": "What are the top 5 selling products by quantity? (variant 118)",
        "SQLQuery": "SELECT p.name, SUM(oi.quantity) as total_sold FROM products p JOIN order_items oi ON p.product_id = oi.product_id GROUP BY p.product_id, p.name ORDER BY total_sold DESC LIMIT 5;",
        "SQLResult": "[('Product_A', 500), ('Product_B', 450)]",
        "Answer": "The top 5 selling products by quantity are listed above (entry 118)."
    },
    {
        "Question": "How many customers do we have? (variant 119)",
        "SQLQuery": "SELECT COUNT(*) as total_customers FROM customers;",
        "SQLResult": "[5000]",
        "Answer": "We have 5,000 customers in total (entry 119)."
    },
    {
        "Question": "What are the total sales for all orders? (variant 120)",
        "SQLQuery": "SELECT SUM(total_amount) as total_sales FROM orders;",
        "SQLResult": "[2500000.50]",
        "Answer": "The total sales amount is $2,500,000 (entry 120).50 (entry 120)."
    },
    {
        "Question": "How many total orders do we have? (variant 121)",
        "SQLQuery": "SELECT COUNT(*) as total_orders FROM orders;",
        "SQLResult": "[(1500,)]",
        "Answer": "We have 1500 total orders in the database (entry 121)."
    },
    {
        "Question": "What are the top 5 selling products by quantity? (variant 122)",
        "SQLQuery": "SELECT p.name, SUM(oi.quantity) as total_sold FROM products p JOIN order_items oi ON p.product_id = oi.product_id GROUP BY p.product_id, p.name ORDER BY total_sold DESC LIMIT 5;",
        "SQLResult": "[('Product_A', 500), ('Product_B', 450)]",
        "Answer": "The top 5 selling products by quantity are listed above (entry 122)."
    },
    {
        "Question": "How many customers do we have? (variant 123)",
        "SQLQuery": "SELECT COUNT(*) as total_customers FROM customers;",
        "SQLResult": "[5000]",
        "Answer": "We have 5,000 customers in total (entry 123)."
    },
    {
        "Question": "What are the total sales for all orders? (variant 124)",
        "SQLQuery": "SELECT SUM(total_amount) as total_sales FROM orders;",
        "SQLResult": "[2500000.50]",
        "Answer": "The total sales amount is $2,500,000 (entry 124).50 (entry 124)."
    },
    {
        "Question": "How many total orders do we have? (variant 125)",
        "SQLQuery": "SELECT COUNT(*) as total_orders FROM orders;",
        "SQLResult": "[(1500,)]",
        "Answer": "We have 1500 total orders in the database (entry 125)."
    },
    {
        "Question": "What are the top 5 selling products by quantity? (variant 126)",
        "SQLQuery": "SELECT p.name, SUM(oi.quantity) as total_sold FROM products p JOIN order_items oi ON p.product_id = oi.product_id GROUP BY p.product_id, p.name ORDER BY total_sold DESC LIMIT 5;",
        "SQLResult": "[('Product_A', 500), ('Product_B', 450)]",
        "Answer": "The top 5 selling products by quantity are listed above (entry 126)."
    },
    {
        "Question": "How many customers do we have? (variant 127)",
        "SQLQuery": "SELECT COUNT(*) as total_customers FROM customers;",
        "SQLResult": "[5000]",
        "Answer": "We have 5,000 customers in total (entry 127)."
    },
    {
        "Question": "What are the total sales for all orders? (variant 128)",
        "SQLQuery": "SELECT SUM(total_amount) as total_sales FROM orders;",
        "SQLResult": "[2500000.50]",
        "Answer": "The total sales amount is $2,500,000 (entry 128).50 (entry 128)."
    },
    {
        "Question": "How many total orders do we have? (variant 129)",
        "SQLQuery": "SELECT COUNT(*) as total_orders FROM orders;",
        "SQLResult": "[(1500,)]",
        "Answer": "We have 1500 total orders in the database (entry 129)."
    },
    {
        "Question": "What are the top 5 selling products by quantity? (variant 130)",
        "SQLQuery": "SELECT p.name, SUM(oi.quantity) as total_sold FROM products p JOIN order_items oi ON p.product_id = oi.product_id GROUP BY p.product_id, p.name ORDER BY total_sold DESC LIMIT 5;",
        "SQLResult": "[('Product_A', 500), ('Product_B', 450)]",
        "Answer": "The top 5 selling products by quantity are listed above (entry 130)."
    },
    {
        "Question": "How many customers do we have? (variant 131)",
        "SQLQuery": "SELECT COUNT(*) as total_customers FROM customers;",
        "SQLResult": "[5000]",
        "Answer": "We have 5,000 customers in total (entry 131)."
    },
    {
        "Question": "What are the total sales for all orders? (variant 132)",
        "SQLQuery": "SELECT SUM(total_amount) as total_sales FROM orders;",
        "SQLResult": "[2500000.50]",
        "Answer": "The total sales amount is $2,500,000 (entry 132).50 (entry 132)."
    },
    {
        "Question": "How many total orders do we have? (variant 133)",
        "SQLQuery": "SELECT COUNT(*) as total_orders FROM orders;",
        "SQLResult": "[(1500,)]",
        "Answer": "We have 1500 total orders in the database (entry 133)."
    },
    {
        "Question": "What are the top 5 selling products by quantity? (variant 134)",
        "SQLQuery": "SELECT p.name, SUM(oi.quantity) as total_sold FROM products p JOIN order_items oi ON p.product_id = oi.product_id GROUP BY p.product_id, p.name ORDER BY total_sold DESC LIMIT 5;",
        "SQLResult": "[('Product_A', 500), ('Product_B', 450)]",
        "Answer": "The top 5 selling products by quantity are listed above (entry 134)."
    },
    {
        "Question": "How many customers do we have? (variant 135)",
        "SQLQuery": "SELECT COUNT(*) as total_customers FROM customers;",
        "SQLResult": "[5000]",
        "Answer": "We have 5,000 customers in total (entry 135)."
    },
    {
        "Question": "What are the total sales for all orders? (variant 136)",
        "SQLQuery": "SELECT SUM(total_amount) as total_sales FROM orders;",
        "SQLResult": "[2500000.50]",
        "Answer": "The total sales amount is $2,500,000 (entry 136).50 (entry 136)."
    },
    {
        "Question": "How many total orders do we have? (variant 137)",
        "SQLQuery": "SELECT COUNT(*) as total_orders FROM orders;",
        "SQLResult": "[(1500,)]",
        "Answer": "We have 1500 total orders in the database (entry 137)."
    },
    {
        "Question": "What are the top 5 selling products by quantity? (variant 138)",
        "SQLQuery": "SELECT p.name, SUM(oi.quantity) as total_sold FROM products p JOIN order_items oi ON p.product_id = oi.product_id GROUP BY p.product_id, p.name ORDER BY total_sold DESC LIMIT 5;",
        "SQLResult": "[('Product_A', 500), ('Product_B', 450)]",
        "Answer": "The top 5 selling products by quantity are listed above (entry 138)."
    },
    {
        "Question": "How many customers do we have? (variant 139)",
        "SQLQuery": "SELECT COUNT(*) as total_customers FROM customers;",
        "SQLResult": "[5000]",
        "Answer": "We have 5,000 customers in total (entry 139)."
    },
    {
        "Question": "What are the total sales for all orders? (variant 140)",
        "SQLQuery": "SELECT SUM(total_amount) as total_sales FROM orders;",
        "SQLResult": "[2500000.50]",
        "Answer": "The total sales amount is $2,500,000 (entry 140).50 (entry 140)."
    },
    {
        "Question": "How many total orders do we have? (variant 141)",
        "SQLQuery": "SELECT COUNT(*) as total_orders FROM orders;",
        "SQLResult": "[(1500,)]",
        "Answer": "We have 1500 total orders in the database (entry 141)."
    },
    {
        "Question": "What are the top 5 selling products by quantity? (variant 142)",
        "SQLQuery": "SELECT p.name, SUM(oi.quantity) as total_sold FROM products p JOIN order_items oi ON p.product_id = oi.product_id GROUP BY p.product_id, p.name ORDER BY total_sold DESC LIMIT 5;",
        "SQLResult": "[('Product_A', 500), ('Product_B', 450)]",
        "Answer": "The top 5 selling products by quantity are listed above (entry 142)."
    },
    {
        "Question": "How many customers do we have? (variant 143)",
        "SQLQuery": "SELECT COUNT(*) as total_customers FROM customers;",
        "SQLResult": "[5000]",
        "Answer": "We have 5,000 customers in total (entry 143)."
    },
    {
        "Question": "What are the total sales for all orders? (variant 144)",
        "SQLQuery": "SELECT SUM(total_amount) as total_sales FROM orders;",
        "SQLResult": "[2500000.50]",
        "Answer": "The total sales amount is $2,500,000 (entry 144).50 (entry 144)."
    },
    {
        "Question": "How many total orders do we have? (variant 145)",
        "SQLQuery": "SELECT COUNT(*) as total_orders FROM orders;",
        "SQLResult": "[(1500,)]",
        "Answer": "We have 1500 total orders in the database (entry 145)."
    },
    {
        "Question": "What are the top 5 selling products by quantity? (variant 146)",
        "SQLQuery": "SELECT p.name, SUM(oi.quantity) as total_sold FROM products p JOIN order_items oi ON p.product_id = oi.product_id GROUP BY p.product_id, p.name ORDER BY total_sold DESC LIMIT 5;",
        "SQLResult": "[('Product_A', 500), ('Product_B', 450)]",
        "Answer": "The top 5 selling products by quantity are listed above (entry 146)."
    },
    {
        "Question": "How many customers do we have? (variant 147)",
        "SQLQuery": "SELECT COUNT(*) as total_customers FROM customers;",
        "SQLResult": "[5000]",
        "Answer": "We have 5,000 customers in total (entry 147)."
    },
    {
        "Question": "What are the total sales for all orders? (variant 148)",
        "SQLQuery": "SELECT SUM(total_amount) as total_sales FROM orders;",
        "SQLResult": "[2500000.50]",
        "Answer": "The total sales amount is $2,500,000 (entry 148).50 (entry 148)."
    },
    {
        "Question": "How many total orders do we have? (variant 149)",
        "SQLQuery": "SELECT COUNT(*) as total_orders FROM orders;",
        "SQLResult": "[(1500,)]",
        "Answer": "We have 1500 total orders in the database (entry 149)."
    },
    {
        "Question": "What are the top 5 selling products by quantity? (variant 150)",
        "SQLQuery": "SELECT p.name, SUM(oi.quantity) as total_sold FROM products p JOIN order_items oi ON p.product_id = oi.product_id GROUP BY p.product_id, p.name ORDER BY total_sold DESC LIMIT 5;",
        "SQLResult": "[('Product_A', 500), ('Product_B', 450)]",
        "Answer": "The top 5 selling products by quantity are listed above (entry 150)."
    },
    {
        "Question": "How many customers do we have? (variant 151)",
        "SQLQuery": "SELECT COUNT(*) as total_customers FROM customers;",
        "SQLResult": "[5000]",
        "Answer": "We have 5,000 customers in total (entry 151)."
    },
    {
        "Question": "What are the total sales for all orders? (variant 152)",
        "SQLQuery": "SELECT SUM(total_amount) as total_sales FROM orders;",
        "SQLResult": "[2500000.50]",
        "Answer": "The total sales amount is $2,500,000 (entry 152).50 (entry 152)."
    },
    {
        "Question": "How many total orders do we have? (variant 153)",
        "SQLQuery": "SELECT COUNT(*) as total_orders FROM orders;",
        "SQLResult": "[(1500,)]",
        "Answer": "We have 1500 total orders in the database (entry 153)."
    },
    {
        "Question": "What are the top 5 selling products by quantity? (variant 154)",
        "SQLQuery": "SELECT p.name, SUM(oi.quantity) as total_sold FROM products p JOIN order_items oi ON p.product_id = oi.product_id GROUP BY p.product_id, p.name ORDER BY total_sold DESC LIMIT 5;",
        "SQLResult": "[('Product_A', 500), ('Product_B', 450)]",
        "Answer": "The top 5 selling products by quantity are listed above (entry 154)."
    },
    {
        "Question": "How many customers do we have? (variant 155)",
        "SQLQuery": "SELECT COUNT(*) as total_customers FROM customers;",
        "SQLResult": "[5000]",
        "Answer": "We have 5,000 customers in total (entry 155)."
    },
    {
        "Question": "What are the total sales for all orders? (variant 156)",
        "SQLQuery": "SELECT SUM(total_amount) as total_sales FROM orders;",
        "SQLResult": "[2500000.50]",
        "Answer": "The total sales amount is $2,500,000 (entry 156).50 (entry 156)."
    },
    {
        "Question": "How many total orders do we have? (variant 157)",
        "SQLQuery": "SELECT COUNT(*) as total_orders FROM orders;",
        "SQLResult": "[(1500,)]",
        "Answer": "We have 1500 total orders in the database (entry 157)."
    },
    {
        "Question": "What are the top 5 selling products by quantity? (variant 158)",
        "SQLQuery": "SELECT p.name, SUM(oi.quantity) as total_sold FROM products p JOIN order_items oi ON p.product_id = oi.product_id GROUP BY p.product_id, p.name ORDER BY total_sold DESC LIMIT 5;",
        "SQLResult": "[('Product_A', 500), ('Product_B', 450)]",
        "Answer": "The top 5 selling products by quantity are listed above (entry 158)."
    },
    {
        "Question": "How many customers do we have? (variant 159)",
        "SQLQuery": "SELECT COUNT(*) as total_customers FROM customers;",
        "SQLResult": "[5000]",
        "Answer": "We have 5,000 customers in total (entry 159)."
    },
    {
        "Question": "What are the total sales for all orders? (variant 160)",
        "SQLQuery": "SELECT SUM(total_amount) as total_sales FROM orders;",
        "SQLResult": "[2500000.50]",
        "Answer": "The total sales amount is $2,500,000 (entry 160).50 (entry 160)."
    },
    {
        "Question": "How many total orders do we have? (variant 161)",
        "SQLQuery": "SELECT COUNT(*) as total_orders FROM orders;",
        "SQLResult": "[(1500,)]",
        "Answer": "We have 1500 total orders in the database (entry 161)."
    },
    {
        "Question": "What are the top 5 selling products by quantity? (variant 162)",
        "SQLQuery": "SELECT p.name, SUM(oi.quantity) as total_sold FROM products p JOIN order_items oi ON p.product_id = oi.product_id GROUP BY p.product_id, p.name ORDER BY total_sold DESC LIMIT 5;",
        "SQLResult": "[('Product_A', 500), ('Product_B', 450)]",
        "Answer": "The top 5 selling products by quantity are listed above (entry 162)."
    },
    {
        "Question": "How many customers do we have? (variant 163)",
        "SQLQuery": "SELECT COUNT(*) as total_customers FROM customers;",
        "SQLResult": "[5000]",
        "Answer": "We have 5,000 customers in total (entry 163)."
    },
    {
        "Question": "What are the total sales for all orders? (variant 164)",
        "SQLQuery": "SELECT SUM(total_amount) as total_sales FROM orders;",
        "SQLResult": "[2500000.50]",
        "Answer": "The total sales amount is $2,500,000 (entry 164).50 (entry 164)."
    },
    {
        "Question": "How many total orders do we have? (variant 165)",
        "SQLQuery": "SELECT COUNT(*) as total_orders FROM orders;",
        "SQLResult": "[(1500,)]",
        "Answer": "We have 1500 total orders in the database (entry 165)."
    },
    {
        "Question": "What are the top 5 selling products by quantity? (variant 166)",
        "SQLQuery": "SELECT p.name, SUM(oi.quantity) as total_sold FROM products p JOIN order_items oi ON p.product_id = oi.product_id GROUP BY p.product_id, p.name ORDER BY total_sold DESC LIMIT 5;",
        "SQLResult": "[('Product_A', 500), ('Product_B', 450)]",
        "Answer": "The top 5 selling products by quantity are listed above (entry 166)."
    },
    {
        "Question": "How many customers do we have? (variant 167)",
        "SQLQuery": "SELECT COUNT(*) as total_customers FROM customers;",
        "SQLResult": "[5000]",
        "Answer": "We have 5,000 customers in total (entry 167)."
    },
    {
        "Question": "What are the total sales for all orders? (variant 168)",
        "SQLQuery": "SELECT SUM(total_amount) as total_sales FROM orders;",
        "SQLResult": "[2500000.50]",
        "Answer": "The total sales amount is $2,500,000 (entry 168).50 (entry 168)."
    },
    {
        "Question": "How many total orders do we have? (variant 169)",
        "SQLQuery": "SELECT COUNT(*) as total_orders FROM orders;",
        "SQLResult": "[(1500,)]",
        "Answer": "We have 1500 total orders in the database (entry 169)."
    },
    {
        "Question": "What are the top 5 selling products by quantity? (variant 170)",
        "SQLQuery": "SELECT p.name, SUM(oi.quantity) as total_sold FROM products p JOIN order_items oi ON p.product_id = oi.product_id GROUP BY p.product_id, p.name ORDER BY total_sold DESC LIMIT 5;",
        "SQLResult": "[('Product_A', 500), ('Product_B', 450)]",
        "Answer": "The top 5 selling products by quantity are listed above (entry 170)."
    },
    {
        "Question": "How many customers do we have? (variant 171)",
        "SQLQuery": "SELECT COUNT(*) as total_customers FROM customers;",
        "SQLResult": "[5000]",
        "Answer": "We have 5,000 customers in total (entry 171)."
    },
    {
        "Question": "What are the total sales for all orders? (variant 172)",
        "SQLQuery": "SELECT SUM(total_amount) as total_sales FROM orders;",
        "SQLResult": "[2500000.50]",
        "Answer": "The total sales amount is $2,500,000 (entry 172).50 (entry 172)."
    },
    {
        "Question": "How many total orders do we have? (variant 173)",
        "SQLQuery": "SELECT COUNT(*) as total_orders FROM orders;",
        "SQLResult": "[(1500,)]",
        "Answer": "We have 1500 total orders in the database (entry 173)."
    },
    {
        "Question": "What are the top 5 selling products by quantity? (variant 174)",
        "SQLQuery": "SELECT p.name, SUM(oi.quantity) as total_sold FROM products p JOIN order_items oi ON p.product_id = oi.product_id GROUP BY p.product_id, p.name ORDER BY total_sold DESC LIMIT 5;",
        "SQLResult": "[('Product_A', 500), ('Product_B', 450)]",
        "Answer": "The top 5 selling products by quantity are listed above (entry 174)."
    },
    {
        "Question": "How many customers do we have? (variant 175)",
        "SQLQuery": "SELECT COUNT(*) as total_customers FROM customers;",
        "SQLResult": "[5000]",
        "Answer": "We have 5,000 customers in total (entry 175)."
    },
    {
        "Question": "What are the total sales for all orders? (variant 176)",
        "SQLQuery": "SELECT SUM(total_amount) as total_sales FROM orders;",
        "SQLResult": "[2500000.50]",
        "Answer": "The total sales amount is $2,500,000 (entry 176).50 (entry 176)."
    },
    {
        "Question": "How many total orders do we have? (variant 177)",
        "SQLQuery": "SELECT COUNT(*) as total_orders FROM orders;",
        "SQLResult": "[(1500,)]",
        "Answer": "We have 1500 total orders in the database (entry 177)."
    },
    {
        "Question": "What are the top 5 selling products by quantity? (variant 178)",
        "SQLQuery": "SELECT p.name, SUM(oi.quantity) as total_sold FROM products p JOIN order_items oi ON p.product_id = oi.product_id GROUP BY p.product_id, p.name ORDER BY total_sold DESC LIMIT 5;",
        "SQLResult": "[('Product_A', 500), ('Product_B', 450)]",
        "Answer": "The top 5 selling products by quantity are listed above (entry 178)."
    },
    {
        "Question": "How many customers do we have? (variant 179)",
        "SQLQuery": "SELECT COUNT(*) as total_customers FROM customers;",
        "SQLResult": "[5000]",
        "Answer": "We have 5,000 customers in total (entry 179)."
    },
    {
        "Question": "What are the total sales for all orders? (variant 180)",
        "SQLQuery": "SELECT SUM(total_amount) as total_sales FROM orders;",
        "SQLResult": "[2500000.50]",
        "Answer": "The total sales amount is $2,500,000 (entry 180).50 (entry 180)."
    },
    {
        "Question": "How many total orders do we have? (variant 181)",
        "SQLQuery": "SELECT COUNT(*) as total_orders FROM orders;",
        "SQLResult": "[(1500,)]",
        "Answer": "We have 1500 total orders in the database (entry 181)."
    },
    {
        "Question": "What are the top 5 selling products by quantity? (variant 182)",
        "SQLQuery": "SELECT p.name, SUM(oi.quantity) as total_sold FROM products p JOIN order_items oi ON p.product_id = oi.product_id GROUP BY p.product_id, p.name ORDER BY total_sold DESC LIMIT 5;",
        "SQLResult": "[('Product_A', 500), ('Product_B', 450)]",
        "Answer": "The top 5 selling products by quantity are listed above (entry 182)."
    },
    {
        "Question": "How many customers do we have? (variant 183)",
        "SQLQuery": "SELECT COUNT(*) as total_customers FROM customers;",
        "SQLResult": "[5000]",
        "Answer": "We have 5,000 customers in total (entry 183)."
    },
    {
        "Question": "What are the total sales for all orders? (variant 184)",
        "SQLQuery": "SELECT SUM(total_amount) as total_sales FROM orders;",
        "SQLResult": "[2500000.50]",
        "Answer": "The total sales amount is $2,500,000 (entry 184).50 (entry 184)."
    },
    {
        "Question": "How many total orders do we have? (variant 185)",
        "SQLQuery": "SELECT COUNT(*) as total_orders FROM orders;",
        "SQLResult": "[(1500,)]",
        "Answer": "We have 1500 total orders in the database (entry 185)."
    },
    {
        "Question": "What are the top 5 selling products by quantity? (variant 186)",
        "SQLQuery": "SELECT p.name, SUM(oi.quantity) as total_sold FROM products p JOIN order_items oi ON p.product_id = oi.product_id GROUP BY p.product_id, p.name ORDER BY total_sold DESC LIMIT 5;",
        "SQLResult": "[('Product_A', 500), ('Product_B', 450)]",
        "Answer": "The top 5 selling products by quantity are listed above (entry 186)."
    },
    {
        "Question": "How many customers do we have? (variant 187)",
        "SQLQuery": "SELECT COUNT(*) as total_customers FROM customers;",
        "SQLResult": "[5000]",
        "Answer": "We have 5,000 customers in total (entry 187)."
    },
    {
        "Question": "What are the total sales for all orders? (variant 188)",
        "SQLQuery": "SELECT SUM(total_amount) as total_sales FROM orders;",
        "SQLResult": "[2500000.50]",
        "Answer": "The total sales amount is $2,500,000 (entry 188).50 (entry 188)."
    },
    {
        "Question": "How many total orders do we have? (variant 189)",
        "SQLQuery": "SELECT COUNT(*) as total_orders FROM orders;",
        "SQLResult": "[(1500,)]",
        "Answer": "We have 1500 total orders in the database (entry 189)."
    },
    {
        "Question": "What are the top 5 selling products by quantity? (variant 190)",
        "SQLQuery": "SELECT p.name, SUM(oi.quantity) as total_sold FROM products p JOIN order_items oi ON p.product_id = oi.product_id GROUP BY p.product_id, p.name ORDER BY total_sold DESC LIMIT 5;",
        "SQLResult": "[('Product_A', 500), ('Product_B', 450)]",
        "Answer": "The top 5 selling products by quantity are listed above (entry 190)."
    },
    {
        "Question": "How many customers do we have? (variant 191)",
        "SQLQuery": "SELECT COUNT(*) as total_customers FROM customers;",
        "SQLResult": "[5000]",
        "Answer": "We have 5,000 customers in total (entry 191)."
    },
    {
        "Question": "What are the total sales for all orders? (variant 192)",
        "SQLQuery": "SELECT SUM(total_amount) as total_sales FROM orders;",
        "SQLResult": "[2500000.50]",
        "Answer": "The total sales amount is $2,500,000 (entry 192).50 (entry 192)."
    },
    {
        "Question": "How many total orders do we have? (variant 193)",
        "SQLQuery": "SELECT COUNT(*) as total_orders FROM orders;",
        "SQLResult": "[(1500,)]",
        "Answer": "We have 1500 total orders in the database (entry 193)."
    },
    {
        "Question": "What are the top 5 selling products by quantity? (variant 194)",
        "SQLQuery": "SELECT p.name, SUM(oi.quantity) as total_sold FROM products p JOIN order_items oi ON p.product_id = oi.product_id GROUP BY p.product_id, p.name ORDER BY total_sold DESC LIMIT 5;",
        "SQLResult": "[('Product_A', 500), ('Product_B', 450)]",
        "Answer": "The top 5 selling products by quantity are listed above (entry 194)."
    },
    {
        "Question": "How many customers do we have? (variant 195)",
        "SQLQuery": "SELECT COUNT(*) as total_customers FROM customers;",
        "SQLResult": "[5000]",
        "Answer": "We have 5,000 customers in total (entry 195)."
    },
    {
        "Question": "What are the total sales for all orders? (variant 196)",
        "SQLQuery": "SELECT SUM(total_amount) as total_sales FROM orders;",
        "SQLResult": "[2500000.50]",
        "Answer": "The total sales amount is $2,500,000 (entry 196).50 (entry 196)."
    },
    {
        "Question": "How many total orders do we have? (variant 197)",
        "SQLQuery": "SELECT COUNT(*) as total_orders FROM orders;",
        "SQLResult": "[(1500,)]",
        "Answer": "We have 1500 total orders in the database (entry 197)."
    },
    {
        "Question": "What are the top 5 selling products by quantity? (variant 198)",
        "SQLQuery": "SELECT p.name, SUM(oi.quantity) as total_sold FROM products p JOIN order_items oi ON p.product_id = oi.product_id GROUP BY p.product_id, p.name ORDER BY total_sold DESC LIMIT 5;",
        "SQLResult": "[('Product_A', 500), ('Product_B', 450)]",
        "Answer": "The top 5 selling products by quantity are listed above (entry 198)."
    },
    {
        "Question": "How many customers do we have? (variant 199)",
        "SQLQuery": "SELECT COUNT(*) as total_customers FROM customers;",
        "SQLResult": "[5000]",
        "Answer": "We have 5,000 customers in total (entry 199)."
    },
    {
        "Question": "What are the total sales for all orders? (variant 200)",
        "SQLQuery": "SELECT SUM(total_amount) as total_sales FROM orders;",
        "SQLResult": "[2500000.50]",
        "Answer": "The total sales amount is $2,500,000 (entry 200).50 (entry 200)."
    }
]

In [17]:
embeddings = HuggingFaceEmbeddings(model_name="sentence-transformers/all-MiniLM-L6-v2")

# Create texts for vectorization
texts = []
for example in few_shots:
    text = f"Question: {example['Question']} Answer: {example['Answer']}"
    texts.append(text)

# Create vector store
vectorstore = Chroma.from_texts(
    texts=texts,
    embedding=embeddings,
    metadatas=few_shots
)

print("Vector store created successfully!")

Vector store created successfully!

In [19]:
example_selector = SemanticSimilarityExampleSelector(
    vectorstore=vectorstore,
    k=2
)

# Define example prompt template
example_prompt = PromptTemplate(
    input_variables=["Question", "SQLQuery", "SQLResult", "Answer"],
    template="\nQuestion: {Question}\nSQLQuery: {SQLQuery}\nSQLResult: {SQLResult}\nAnswer: {Answer}"
)

# Create few-shot prompt template
few_shot_prompt = FewShotPromptTemplate(
    example_selector=example_selector,
    example_prompt=example_prompt,
    prefix="""You are a PostgreSQL expert. Given an input question, create a syntactically correct PostgreSQL query to run.
Unless the user specifies a specific number of examples, query for at most 5 results using LIMIT clause.
Never query for all columns from a table. You must query only the columns needed to answer the question.
Pay attention to use only the column names you can see in the tables below.

Use the following format:

Question: Question here
SQLQuery: SQL Query to run
SQLResult: Result of the SQLQuery
Answer: Final answer here

Only use the following tables:
{table_info}

Here are some examples:""",
    suffix="\nQuestion: {input}\nSQLQuery:",
    input_variables=["input", "table_info"]
)

# Create SQL chain
sql_chain = SQLDatabaseChain.from_llm(
    llm=llm,
    db=db,
    prompt=few_shot_prompt,
    verbose=True,
    return_intermediate_steps=True
)

print("SQL Chain created successfully!")

SQL Chain created successfully!

In [35]:
question = input("Enter your question?")
result = sql_chain(question)
print("Question:", question)
print("Answer:", result['result'])

Enter your question? what product needs to be reordered

> Entering new SQLDatabaseChain chain...
what product needs to be reordered
SQLQuery:```sql
SELECT p.name, p.reorder_threshold, il.stock_qty
FROM products p
JOIN inventory_levels il ON p.product_id = il.product_id
WHERE il.stock_qty <= p.reorder_threshold
LIMIT 5;
```

ProgrammingError: (psycopg2.errors.SyntaxError) syntax error at or near "```"
LINE 1: ```sql
        ^

[SQL: ```sql
SELECT p.name, p.reorder_threshold, il.stock_qty
FROM products p
JOIN inventory_levels il ON p.product_id = il.product_id
WHERE il.stock_qty <= p.reorder_threshold
LIMIT 5;
```]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [31]:
result

NameError: name 'result' is not defined

In [29]:
def ask_question(question):
    try:
        result = sql_chain(question)
        print(f"Question: {question}")
        print(f"Answer: {result['result']}")
        print("-" * 50)
        return result
    except Exception as e:
        print(f"Error: {str(e)}")
        return None

# Test various questions
questions = [
    "How many total orders do we have?",
    "What are the top 5 selling products?",
    "Show me the total revenue by region",
    "Which products need to be reordered?"
]

for q in questions:
    ask_question(q)

> Entering new SQLDatabaseChain chain...
How many total orders do we have?
SQLQuery:SELECT count(*) FROM orders;
SQLResult: [(50000,)]
Answer:

Retrying langchain_google_genai.chat_models._chat_with_retry.<locals>._chat_with_retry in 2.0 seconds as it raised ResourceExhausted: 429 You exceeded your current quota, please check your plan and billing details. For more information on this error, head to: https://ai.google.dev/gemini-api/docs/rate-limits. [violations {
  quota_metric: "generativelanguage.googleapis.com/generate_content_free_tier_requests"
  quota_id: "GenerateRequestsPerDayPerProjectPerModel-FreeTier"
  quota_dimensions {
    key: "location"
    value: "global"
  }
  quota_dimensions {
    key: "model"
    value: "gemini-1.5-flash"
  }
  quota_value: 50
}
, links {
  description: "Learn more about Gemini API quotas"
  url: "https://ai.google.dev/gemini-api/docs/rate-limits"
}
, retry_delay {
  seconds: 46
}
].

Error: 429 You exceeded your current quota, please check your plan and billing details. For more information on this error, head to: https://ai.google.dev/gemini-api/docs/rate-limits. [violations {
  quota_metric: "generativelanguage.googleapis.com/generate_content_free_tier_requests"
  quota_id: "GenerateRequestsPerDayPerProjectPerModel-FreeTier"
  quota_dimensions {
    key: "location"
    value: "global"
  }
  quota_dimensions {
    key: "model"
    value: "gemini-1.5-flash"
  }
  quota_value: 50
}
, links {
  description: "Learn more about Gemini API quotas"
  url: "https://ai.google.dev/gemini-api/docs/rate-limits"
}
, retry_delay {
  seconds: 43
}
]


> Entering new SQLDatabaseChain chain...
What are the top 5 selling products?
SQLQuery:

Retrying langchain_google_genai.chat_models._chat_with_retry.<locals>._chat_with_retry in 2.0 seconds as it raised ResourceExhausted: 429 You exceeded your current quota, please check your plan and billing details. For more information on this error, head to: https://ai.google.dev/gemini-api/docs/rate-limits. [violations {
  quota_metric: "generativelanguage.googleapis.com/generate_content_free_tier_requests"
  quota_id: "GenerateRequestsPerDayPerProjectPerModel-FreeTier"
  quota_dimensions {
    key: "location"
    value: "global"
  }
  quota_dimensions {
    key: "model"
    value: "gemini-1.5-flash"
  }
  quota_value: 50
}
, links {
  description: "Learn more about Gemini API quotas"
  url: "https://ai.google.dev/gemini-api/docs/rate-limits"
}
, retry_delay {
  seconds: 42
}
].

```sql
SELECT p.name, SUM(oi.quantity) AS total_quantity_sold
FROM products p
JOIN order_items oi ON p.product_id = oi.product_id
GROUP BY p.name
ORDER BY total_quantity_sold DESC
LIMIT 5;
```Error: (psycopg2.errors.SyntaxError) syntax error at or near "```"
LINE 1: ```sql
        ^

[SQL: ```sql
SELECT p.name, SUM(oi.quantity) AS total_quantity_sold
FROM products p
JOIN order_items oi ON p.product_id = oi.product_id
GROUP BY p.name
ORDER BY total_quantity_sold DESC
LIMIT 5;
```]
(Background on this error at: https://sqlalche.me/e/20/f405)


> Entering new SQLDatabaseChain chain...
Show me the total revenue by region
SQLQuery:

Retrying langchain_google_genai.chat_models._chat_with_retry.<locals>._chat_with_retry in 2.0 seconds as it raised ResourceExhausted: 429 You exceeded your current quota, please check your plan and billing details. For more information on this error, head to: https://ai.google.dev/gemini-api/docs/rate-limits. [violations {
  quota_metric: "generativelanguage.googleapis.com/generate_content_free_tier_requests"
  quota_id: "GenerateRequestsPerDayPerProjectPerModel-FreeTier"
  quota_dimensions {
    key: "location"
    value: "global"
  }
  quota_dimensions {
    key: "model"
    value: "gemini-1.5-flash"
  }
  quota_value: 50
}
, links {
  description: "Learn more about Gemini API quotas"
  url: "https://ai.google.dev/gemini-api/docs/rate-limits"
}
, retry_delay {
  seconds: 38
}
].

Error: 429 You exceeded your current quota, please check your plan and billing details. For more information on this error, head to: https://ai.google.dev/gemini-api/docs/rate-limits. [violations {
  quota_metric: "generativelanguage.googleapis.com/generate_content_free_tier_requests"
  quota_id: "GenerateRequestsPerDayPerProjectPerModel-FreeTier"
  quota_dimensions {
    key: "location"
    value: "global"
  }
  quota_dimensions {
    key: "model"
    value: "gemini-1.5-flash"
  }
  quota_value: 50
}
, links {
  description: "Learn more about Gemini API quotas"
  url: "https://ai.google.dev/gemini-api/docs/rate-limits"
}
, retry_delay {
  seconds: 36
}
]


> Entering new SQLDatabaseChain chain...
Which products need to be reordered?
SQLQuery:

Retrying langchain_google_genai.chat_models._chat_with_retry.<locals>._chat_with_retry in 2.0 seconds as it raised ResourceExhausted: 429 You exceeded your current quota, please check your plan and billing details. For more information on this error, head to: https://ai.google.dev/gemini-api/docs/rate-limits. [violations {
  quota_metric: "generativelanguage.googleapis.com/generate_content_free_tier_requests"
  quota_id: "GenerateRequestsPerDayPerProjectPerModel-FreeTier"
  quota_dimensions {
    key: "location"
    value: "global"
  }
  quota_dimensions {
    key: "model"
    value: "gemini-1.5-flash"
  }
  quota_value: 50
}
, links {
  description: "Learn more about Gemini API quotas"
  url: "https://ai.google.dev/gemini-api/docs/rate-limits"
}
, retry_delay {
  seconds: 34
}
].

Error: 429 You exceeded your current quota, please check your plan and billing details. For more information on this error, head to: https://ai.google.dev/gemini-api/docs/rate-limits. [violations {
  quota_metric: "generativelanguage.googleapis.com/generate_content_free_tier_requests"
  quota_id: "GenerateRequestsPerDayPerProjectPerModel-FreeTier"
  quota_dimensions {
    key: "location"
    value: "global"
  }
  quota_dimensions {
    key: "model"
    value: "gemini-1.5-flash"
  }
  quota_value: 50
}
, links {
  description: "Learn more about Gemini API quotas"
  url: "https://ai.google.dev/gemini-api/docs/rate-limits"
}
, retry_delay {
  seconds: 32
}
]